{{#with @model.quality as |quality|}}
  <Modal @id="quality">
    <h1>{{quality.text}}</h1>
    <h2>Properties</h2>

    <Field::String
      @label='Quality name'
      @record={{quality}}
      @attribute='text'
    />

    <Field::String
      @label='Explanation'
      @legend="Explain in depth what this quality means and why it matters. Aim for the first paragraphs to make sense to a layman (no jargon). In the paragraphs after, feel free to get technical."
      @record={{quality}}
      @attribute='gist'
      @multiline='true'
    />

    <Field::OneToMany
      @label='Icon'
      @baseRecord={{quality}}
      @baseLabel='image'
      @targetModel="image"
      @targetFilter="alt"
      @minKeyStrokes='2'
    />

    <div class="icon">
      {{#if quality.image}}
        <a href={{href-to 'secure.images.image' quality.image.id}}>
          <ResponsiveImage @image={{quality.image}} />
        </a>
        <a href={{href-to 'secure.images.image' quality.image.id}}>
          <ResponsiveImage @image={{quality.image}} />
        </a>
      {{/if}}
    </div>

    <h2>Relations</h2>

    <Field::ManyToMany
      @label="Products"
      @legend="All products that have this quality."
      @baseRecord={{quality}}
      @baseModel="quality"
      @baseLabel="productQualities"
      @joinModel="product-quality"
      @joinSortKey="rankAmongQualities"
      @targetModel="product"
      @targetLabel="name"
      @targetRoute='secure.products.product'
    />

    <Fieldset
      @label="Families"
      @legend="The families of the products above."
    >
      <ul class="list">
        {{#each quality.families as |family|}}
          <li>
            <a href={{href-to 'secure.families.family' family.id}}>
              {{family.namePlural}}
            </a>
          </li>
        {{else}}
          <li class="dashed">
            <span>- none -</span>
          </li>
        {{/each}}
      </ul>
    </Fieldset>

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{quality}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}