{{#with @model.document as |document|}}
  <Modal @id="document">
    <h1>{{document.name}}</h1>
    <h2>Properties</h2>

    <Field::String
      @label='Name'
      @record={{document}}
      @attribute='name'
    />

    <Field::OneToMany
      @label='Category'
      @baseRecord={{document}}
      @baseLabel='documentCategory'
      @targetModel="document-category"
      @targetFilter="name"
      @minKeyStrokes='0'
    />

    <Field::ManyToMany
      @label="Related products"
      @baseRecord={{document}}
      @baseModel="document"
      @baseLabel="productDocuments"
      @joinModel="product-document"
      @targetModel="product"
      @targetLabel="name"
      @targetRoute='secure.products.product'
    />

    <h2>CDN</h2>
    <p>The Interflux Content Delivery Network (CDN) is where we images, videos and PDFs that need to be accessed by our websites, emails and apps. This network is optimised to guarantee the fastest possible download speeds, no matter where you are on the planet. Fast websites means happy visitors and happy Google bots.</p>

    <Fieldset
      @label='Sharable links'
      @legend="Copy and paste these:"
    >
      <ul class="list">
        {{#each document.files as |file|}}
          <li>
            <a
              href={{file.url}}
              target="_blank"
              rel="noreferrer noopener"
            >
              {{file.label}}
            </a>
          </li>
        {{/each}}
      </ul>
    </Fieldset>

    <p>You can copy paste these links into emails, rather than uploading the PDFs as attachements. This saves spaces in everyone's inbox and the link will always open the most up-to-date version.</p>

    <Field::String
      @label='CDN base path'
      @record={{document}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}