{{#with @model.document as |document|}}
  <Modal @id='document'>
    <h1>{{document.name}}</h1>
    <h2>Properties</h2>

    <Field::String @label='Name' @record={{document}} @attribute='name' />

    <Field::OneToMany
      @label='Category'
      @baseRecord={{document}}
      @baseLabel='documentCategory'
      @targetModel='document-category'
      @targetFilter='name'
      @minKeyStrokes='0'
    />

    <h2>Website</h2>

    <Field::Boolean @record={{document}} @attribute='public'>
      <label>Show on website</label>
    </Field::Boolean>

    <h2>CDN</h2>

    <Fieldset
      @label='Permanent CDN link'
      @legend='Copy and paste this link in emails:'
    >
      <ul class='list'>
        {{#each document.files as |file|}}
          <li>
            <div class='left'>
              <a href={{file.url}} target='_blank' rel='noreferrer noopener'>
                {{file.label}}
              </a>
            </div>
          </li>
        {{/each}}
      </ul>
    </Fieldset>

    <p>Instead of uploading PDFs in emails, copy paste the link above into
      emails. This saves spaces in everyone's inbox and the link will always
      open the most up-to-date version, unlike email attachments.</p>
    <p>The Interflux Content Delivery Network (CDN) is where we store images,
      videos and PDFs that need to be accessed by our websites, emails and apps.
      This network is optimised to guarantee the fastest possible download
      speeds, no matter where you are on the planet. Fast websites means happy
      visitors and happy Google bots.</p>

    <h2>Products</h2>

    <Field::ManyToMany
      @label='Related products'
      @legend='Add a product to this list if you want this documents to be shown on a particular product page.'
      @baseRecord={{document}}
      @baseModel='document'
      @baseLabel='productDocuments'
      @joinModel='product-document'
      @targetModel='product'
      @targetLabel='name'
      @targetRoute='secure.products.product'
    />

    <h2>Database</h2>

    <Field::String
      @label='Variations'
      @record={{document}}
      @attribute='variations'
      @disabled='true'
    />

    <Field::String
      @label='Database ID'
      @record={{document}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}