<Modal @id='document'>
  <h1>
    <small>document</small>
    <span>{{if @model.document.name @model.document.name 'no name'}}</span>
  </h1>

  <hr />

  {{#if this.deleting}}
    <Fieldset>
      <p>Deleting ...</p>
    </Fieldset>
  {{else}}
    <Field::OneToMany::Pills
      @label='Document type'
      @record={{@model.document}}
      @selected={{@model.document.documentCategory}}
      @belongsTo='documentCategory'
      @options={{this.filteredCategories}}
      @optionLabel='nameSingle'
      @layout='vertical'
    />

    <Field::String
      @label='Document name'
      @record={{@model.document}}
      @attribute='name'
      @afterSave={{this.updatePath}}
    />

    <Field::File
      @label='Files'
      @legend='You can only upload PDFs and only 1 per language.'
      @record={{@model.document}}
      @cdnFiles={{@model.document.cdnFiles}}
      @cdnBasePath={{@model.document.path}}
      @multilingual={{true}}
      @accept='.pdf'
    />

    <Field::Boolean::Pills
      @label='Online'
      @legend='Choose "yes" and this document will be shown on our website. Choose "no" to take it offline.'
      @record={{@model.document}}
      @attribute='public'
      @layout='horizontal'
    />

    <Field::ManyToMany
      @label='Related products'
      @legend='If you want this document to be shown on the page of certain product, select those products here.'
      @baseRecord={{@model.document}}
      @baseModel='document'
      @baseLabel='productDocuments'
      @joinModel='product-document'
      @targetModel='product'
      @targetLabel='name'
      @targetRoute='secure.products.product'
    />

    <hr />

    <Fieldset>
      <Button
        @text='delete document'
        @onClick={{this.deleteRecord}}
        @theme='danger-red'
        @icon='warning'
      />
    </Fieldset>
  {{/if}}
</Modal>