{{#with @model.person as |person|}}
  <Modal @id='person'>

    <h1>{{person.fullName}}</h1>

    <h2>Name</h2>

    <Field::String
      @label='First name'
      @record={{person}}
      @attribute='firstName'
    />

    <Field::String
      @label='Last name'
      @record={{person}}
      @attribute='lastName'
    />

    <Field::String
      @label='Chinese name'
      @record={{person}}
      @attribute='chineseName'
    />

    <h2>Companies</h2>

    <Field::ManyToMany
      @label='Member of'
      @baseRecord={{person}}
      @baseModel='person'
      @baseLabel='companyMembers'
      @joinModel='company-member'
      @targetModel='company'
      @targetLabel='businessName'
      @targetRoute='secure.companies.company'
    />

    {{#each person.companyMembers as |companyMember|}}
      <h2>{{companyMember.company.businessName}}</h2>

      <Field::String
        @label='Role at {{companyMember.company.businessName}}'
        @record={{companyMember}}
        @attribute='title'
      />

      <Field::String
        @label='Company email'
        @record={{companyMember}}
        @attribute='email'
      />

      <Field::String
        @label='Company phone'
        @record={{companyMember}}
        @attribute='phone'
      />

      <Field::Boolean @record={{companyMember}} @attribute='public'>
        <label>Show
          {{person.firstName}}
          on the
          <a
            href='{{env 'publicHosts'}}/en/contact'
            target='_blank'
            rel='noopener noreferrer'
          >contact page</a>
          of our website under
          {{companyMember.company.businessName}}.</label>
      </Field::Boolean>

      {{#if companyMember.public}}
        <Field::Boolean @record={{companyMember}} @attribute='publicTitle'>
          <label>Show role</label>
        </Field::Boolean>

        <Field::Boolean @record={{companyMember}} @attribute='publicEmail'>
          <label>Show email</label>
        </Field::Boolean>

        <Field::Boolean @record={{companyMember}} @attribute='publicPhone'>
          <label>Show phone</label>
        </Field::Boolean>
      {{/if}}
    {{/each}}

    <h2>Personal</h2>

    <Field::String
      @label='Personal email'
      @legend='Never made public. For internal communication only.'
      @record={{person}}
      @attribute='email'
    />

    <Field::String
      @label='Personal phone number'
      @legend='Never made public. For internal communication only.'
      @record={{person}}
      @attribute='phone'
    />

    <h2>Database</h2>

    <Field::String
      @label='UUID'
      @record={{person}}
      @attribute='id'
      @disabled='true'
    />

    <Button
      @text='Delete from database'
      @onClick={{this.destroyRecord}}
      @theme='danger-red'
      @icon='warning'
    />

    {{#if this.showDeleteInstructions}}
      <p>To delete this person, please first remove all relations:</p>
      {{#if person.companyCount}}
        <p>Companies: {{person.companyCount}}</p>
      {{/if}}
    {{/if}}
  </Modal>
{{/with}}