{{#let @model.person as |person|}}
  <Modal @id='person'>

    <h1>{{person.fullName}}</h1>

    <h2>Name</h2>

    <Field::String
      @label='First name'
      @record={{person}}
      @attribute='firstName'
    />

    <Field::String
      @label='Last name'
      @record={{person}}
      @attribute='lastName'
    />

    <Field::String
      @label='Chinese name'
      @record={{person}}
      @attribute='chineseName'
    />

    <h2>Images</h2>

    <Fieldset @label='All images with {{person.firstName}} in them'>
      <ul class='square-images'>
        {{#each person.personImages as |relation|}}
          <li>
            <p>{{if (eq relation.image.id person.image.id) 'avatar' '-'}}</p>

            {{#let relation.image as |image|}}
              <ResponsiveImage
                @path={{image.path}}
                @variations={{image.variations}}
              />
            {{/let}}

            <div class='buttons'>
              {{#if (not (eq relation.image.id person.image.id))}}
                <Button
                  @text='Make avatar'
                  @theme='secondary'
                  @onClick={{fn this.setAvatar relation}}
                />
              {{/if}}

              <Button
                @text='Go to image'
                @theme='secondary'
                @route='secure.images.image'
                @model={{relation.image.id}}
              />
            </div>
          </li>
        {{else}}
          <p>- none -</p>
        {{/each}}
      </ul>
    </Fieldset>

    <h2>Companies</h2>

    <Field::ManyToMany
      @label='Member of'
      @baseRecord={{person}}
      @baseModel='person'
      @baseLabel='companyMembers'
      @joinModel='company-member'
      @joinRankKey='rankAmongCompanies'
      @targetModel='company'
      @targetLabel='businessName'
      @targetRoute='secure.companies.company'
    />

    {{#each person.companyMembersSortedByCompany as |companyMember|}}
      {{#let companyMember.company as |company|}}
        <h2>{{company.businessName}}</h2>

        <Field::String
          @label='Role at {{company.businessName}}'
          @record={{companyMember}}
          @attribute='title'
        />

        {{#unless company.isInterfluxGroup}}
          <Field::String
            @label='Company email'
            @record={{companyMember}}
            @attribute='email'
          />

          <Field::String
            @label='Company mobile phone'
            @record={{companyMember}}
            @attribute='phone'
          />

          <Field::String
            @label='Company landline phone'
            @record={{companyMember}}
            @attribute='landline'
          />
        {{/unless}}

        {{#if company.isInterfluxGroup}}
          <Field::Boolean::Pills
            @label='Shown on interflux.group?'
            @legend='Choose "yes" if you want this person to appear on the Interflux Group website.'
            @record={{companyMember}}
            @attribute='public'
            @layout='horizontal'
            @afterSave={{fn this.afterSaveCompanyMember companyMember}}
          />
        {{else}}
          <Field::Boolean::Pills
            @label='Shown on interflux.com?'
            @legend='Choose "yes" if you want this person to appear on the contact page of the Interflux Electronics website under the company {{company.businessName}}.'
            @record={{companyMember}}
            @attribute='public'
            @layout='horizontal'
          />
        {{/if}}

        {{#if companyMember.public}}
          {{#unless company.isInterfluxGroup}}
            <Field::Boolean::Pills
              @label='Show role?'
              @record={{companyMember}}
              @attribute='publicTitle'
              @layout='horizontal'
            />

            <Field::Boolean::Pills
              @label='Show email?'
              @record={{companyMember}}
              @attribute='publicEmail'
              @layout='horizontal'
            />

            <Field::Boolean::Pills
              @label='Show mobile phone?'
              @record={{companyMember}}
              @attribute='publicPhone'
              @layout='horizontal'
            />

            <Field::Boolean::Pills
              @label='Show landline phone?'
              @record={{companyMember}}
              @attribute='publicLandline'
              @layout='horizontal'
            />
          {{/unless}}
        {{/if}}
      {{/let}}
    {{/each}}

    <h2>Personal</h2>

    <Field::String
      @label='Personal email'
      @legend='Never made public. For internal communication only.'
      @record={{person}}
      @attribute='email'
    />

    <Field::String
      @label='Personal phone number'
      @legend='Never made public. For internal communication only.'
      @record={{person}}
      @attribute='phone'
    />

    <h2>Database</h2>

    <Field::String
      @label='UUID'
      @record={{person}}
      @attribute='id'
      @disabled='true'
    />

    <Button
      @text='Delete from database'
      @onClick={{this.destroyRecord}}
      @theme='danger-red'
      @icon='warning'
    />

    {{#if this.showDeleteInstructions}}
      {{#if person.hasUser}}
        <p>This person is protected.<br />
          Please ask Jan if this person needs to be removed.</p>
      {{else}}
        <p>To delete this person, please first remove all relations:</p>
        {{#if person.companyCount}}
          <p>Companies: {{person.companyCount}}</p>
        {{/if}}
      {{/if}}
    {{/if}}
  </Modal>
{{/let}}