{{#with @model.person as |person|}}
  <Modal @id="person">

    <h1>{{person.fullName}}</h1>

    <h2>Name</h2>

    <Field::String
      @label='First name'
      @record={{person}}
      @attribute='firstName'
    />

    <Field::String
      @label='Last name'
      @record={{person}}
      @attribute='lastName'
    />

    <Field::String
      @label='Chinese name'
      @record={{person}}
      @attribute='chineseName'
    />

    <h2>Companies</h2>

    <Field::ManyToMany
      @label="Member of"
      @baseRecord={{person}}
      @baseModel="person"
      @baseLabel="companyMembers"
      @joinModel="company-member"
      @targetModel="company"
      @targetLabel="businessName"
      @targetFilter="businessName"
      @targetRoute='secure.people.person'
    />

    <h2>Contact</h2>

    <Field::String
      @label='Personal phone'
      @legend='Never made public. For internal communcation only.'
      @record={{person}}
      @attribute='phone'
    />

    <Field::String
      @label='Personal email'
      @legend='Never made public. For internal communcation only.'
      @record={{person}}
      @attribute='email'
    />

    <h2>Database</h2>

    <Field::String
      @label='UUID'
      @record={{person}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}