<Page::Layout::Center @id="login">
  <Section>
    <Input::String
      @value={{this.email}}
      @placeholder="Email"
      @type="email"
      @size="medium"
      @disabled={{this.auth.logIn.isRunning}}
      @onChange={{fn (mut this.email)}}
      @onEnter={{this.submit}}
    />
    <Input::String
      @value={{this.password}}
      @placeholder="Password"
      @type="password"
      @size="medium"
      @disabled={{this.auth.logIn.isRunning}}
      @onChange={{fn (mut this.password)}}
      @onEnter={{this.submit}}
    />

    <Buttons::Horizontal>
      <div class="left">
        <Button::Route
          @route="index"
          @text="Home"
          @size="small"
          @style="blue-3"
        />
        <Button::Route
          @route="help"
          @text="Need help?"
          @size="small"
          @style="blue-3"
        />
      </div>
      <div class="right">
        <Button::Action
          @action={{this.submit}}
          @text={{if this.auth.getToken.isRunning 'Logging in ...' 'Log in'}}
          @size="medium"
          @style="orange-3"
        />
      </div>
    </Buttons::Horizontal>

    {{#if this.auth.error}}
      <div class="error">
        <p>Sorry, was unable to log in:<br>{{this.auth.error}}</p>
      </div>
    {{/if}}
  </Section>
</Page::Layout::Center>