<Page id="images">
  <LinkTo @route="index">Back</LinkTo>

  <section class="search">
    <h1>Images</h1>

    <Search
      @options={{images}}
      @optionLabel="cdnPath"
      @isFetching={{isFetching}}
      @fetchFailed={{fetchFailed}}
      @onSearch={{this.onChange}}
      @onSelect={{this.onSelect}}
    />

    {{#each @images as |image index|}}
      <p>{{index}} - <LinkTo @route="images.image" @model="{{image.id}}">{{image.cdnPath}}</LinkTo></p>
    {{/each}}
  </section>

  <section class="record">
    {{outlet}}
  </section>
</Page>
