<div class="list">
  <Input
    @type="search"
    @placeholder="Search"
    @onKeyUp={{this.onKeyUp}}
  />

  <ul>
    {{#if @options}}
      {{#each options as |option index|}}
        <li>
          <LinkTo
            @route={{@linkRoute}}
            @model={{get option @linkModel}}
          >
            {{get option @label}}
          </LinkTo>
        </li>
      {{else}}
        <li>No results for "{{query}}"</li>
      {{/each}}
    {{else}}
      <li>No data</li>
    {{/if}}
  </ul>
</div>