{{#with @model.image as |image|}}

  <Modal @id="image">
    <Image::Responsive
      @path={{image.path}}
      @sizes={{image.sizes}}
      @formats={{image.formats}}
    />

    <h2>SEO</h2>

    <Field::String
      @label='Label'
      @legend="The label is shown on top of the image in the left bottom corner. This is optional and can help visitors distinguish between 25L and 10L drums."
      @record={{image}}
      @attribute='caption'
    />

    <Field::String
      @label='Hidden keywords'
      @legend="This text is only read by Google bots and blind people with screen readers. These are essential for good SEO. Please always include the product name and add something unique."
      @record={{image}}
      @attribute='alt'
    />

    <Field::BelongsToRelation
      @label='Copyright'
      @legend="Under construction"
      @record={{image}}
      @relation='company'
      @filterOn='businessName'
      @disabled={{true}}
    />

    <h2>Available sizes &amp; formats</h2>
    <ul class="list">
      {{#each @model.image.files as |file|}}
        <li>
          <a
            href={{file.url}}
            target="_blank"
            rel="noreferrer noopener"
          >
            @{{file.width}}x{{file.height}}.{{file.format}}
          </a>
        </li>
      {{/each}}
    </ul>

    <h2>Related to</h2>
    <p>Under construction</p>
  </Modal>

{{/with}}