<Modal @id="image">
  <Image::Responsive
    @path={{@model.image.path}}
    @sizes={{@model.image.sizes}}
    @formats={{@model.image.formats}}
  />

  <h2>Properties</h2>

  <Input::String
    @label="Hidden metatags"
    @legend="These words will be visible to Google bots and screen readers only. These are essential for good SEO."
    @hint="Make sure to include product name, product family and somethign unique."
    @value={{@model.image.alt}}
  />

  <Input::String
    @label="Visible text"
    @legend="This optional bit of text will be shown on top of the image. For example 'Copyright Ersa' or on a product page we can distinguish between '10 liter' and '25 liter' soldering flux images."
    @value={{@model.image.caption}}
  />

  <h2>Available sizes &amp; formats</h2>
  <ul>
    {{#each @model.image.files as |file|}}
      <li>
        <a
          href={{file.url}}
          target="_blank"
          rel="noreferrer noopener"
        >
          @{{file.width}}x{{file.height}}.{{file.format}}
        </a>
      </li>
    {{/each}}
  </ul>

  <h2>Referenced by</h2>
  <ul>
    <li>
      <a href="#">IF 2005M</a>
    </li>
  </ul>
</Modal>