{{#with @model.image as |image|}}
  <Modal @id="image">
    <Image
      @path={{image.path}}
      @variations={{image.variations}}
      @caption={{image.caption}}
      @alt={{image.alt}}
    />

    <h1>{{image.alt}}</h1>

    <h2>Properties</h2>

    <Field::ManyToMany
      @label="Products"
      @legend="Please identify the products seen in this image."
      @baseRecord={{image}}
      @baseModel="imagge"
      @baseLabel="productImages"
      @joinModel="product-image"
      @targetModel="product"
      @targetLabel="name"
      @targetRoute='secure.products.product'
    />

    {{!-- TODO: identify processes --}}

    <Field::String
      @label='Hidden metadata'
      @legend="On our website we hide metadata behind every image, which can only be read by Google and social media. These are essential for our images to rank in Google Image search. Please never leave these blank and where possible include key words like the product name (IF 2005M), family (soldering flux) and something unique (25L front view)."
      @record={{image}}
      @attribute='alt'
      @multiline='true'
    />

    <Field::String
      @label='Visible label'
      @legend="The label is visible to visitors, unlike the metadata. This label can be useful for helping visitors distinguish between for SnAgCu and SnPB alloys or 25L and 10L drums. This is optional."
      @record={{image}}
      @attribute='caption'
      @multiline='true'
    />

    <Field::OneToMany
      @label='Copyright'
      @legend='When we receive images from other companies, we should attribute them and link to their website. The copyright link will show right below the label. Leave blank if the image belongs to Interflux.'
      @record={{image}}
      @relation='company'
      @filterOn='businessName'
    />

    <h2>CDN</h2>

    <p>Images have a big impact on the download speed and snappy user experience of any website. To guarantee our images load as fast as humanly possible we do three things:</p>
    <p>1. We store images on a CDN. Such a network copies the images to all continents so that no matter where you are in the world, the latency between you and the server will be low.</p>
    <p>2. We keep 14 sizes of every images on our CDN. Our website are smart enough to download only the smallest possible size which still looks sharp.</p>
    <p>3. We use the WEBP file format, which is about 50% smaller in file size than JPG.</p>

    <Fieldset
      @label='JPG'
      @legend="Compressed, low visual quality, downloads fast, can be used in all apps."
    >
      <ul class="list">
        {{#each image.JPGs as |file|}}
          <li>
            <a
              href={{file.url}}
              target="_blank"
              rel="noreferrer noopener"
            >
              {{file.size}}
            </a>
          </li>
        {{/each}}
      </ul>
    </Fieldset>

    <Fieldset
      @label='WEBP'
      @legend="Super compressed, 50% smaller than JPG, low visual quality, can only be used in websites."
    >
      <ul class="list">
        {{#each image.WEBPs as |file|}}
          <li>
            <a
              href={{file.url}}
              target="_blank"
              rel="noreferrer noopener"
            >
              {{file.size}}
            </a>
          </li>
        {{/each}}
      </ul>
    </Fieldset>

    <Fieldset
      @label='PNG'
      @legend="For designers, lossless, no compression, best quality, huge file size."
    >
      <ul class="list">
        {{#each image.PNGs as |file|}}
          <li>
            <a
              href={{file.url}}
              target="_blank"
              rel="noreferrer noopener"
            >
              {{file.size}}
            </a>
          </li>
        {{/each}}
      </ul>
    </Fieldset>

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{image}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}