{{#with @model.image as |image|}}
  <Modal @id="image">
    <Image::Responsive
      @path={{image.path}}
      @sizes={{image.sizes}}
      @formats={{image.formats}}
    />

    <h2>Used by</h2>

    <Field::ManyToMany
      @label='Products'
      @record={{image}}
      @relation='products'
      @relationModel='product'
      @relationLabel='name'
      @route='secure.products.product'
    />

    <h2>Meta data</h2>

    <Field::String
      @label='Visible text'
      @legend="The label is shown on top of the image in the left bottom corner. This is optional and can help visitors distinguish between 25L and 10L drums."
      @record={{image}}
      @attribute='caption'
    />

    <Field::String
      @label='Hidden text'
      @legend="This text is only read by Google bots and blind people with screen readers. These are essential for good SEO. Please always include the product name and add something unique."
      @record={{image}}
      @attribute='alt'
    />

    <Field::OneToMany
      @label='Copyright'
      @record={{image}}
      @relation='copyrightCompany'
      @filterOn='businessName'
      @disabled='true'
    />

    <Field::String
      @label='Database ID'
      @record={{image}}
      @attribute='id'
      @disabled='true'
    />

    <h2>CDN</h2>

    <p>Available sizes &amp; formats</p>

    <ul class="list">
      {{#each @model.image.files as |file|}}
        <li>
          <a
            href={{file.url}}
            target="_blank"
            rel="noreferrer noopener"
          >
            @{{file.width}}x{{file.height}}.{{file.format}}
          </a>
        </li>
      {{/each}}
    </ul>
  </Modal>
{{/with}}