{{#with @model.family as |family|}}
  <Modal @id='family'>
    <h1>{{family.namePlural}}</h1>
    <h2>Properties</h2>

    <Field::String
      @label='Name (plural)'
      @record={{family}}
      @attribute='namePlural'
    />

    <Field::String
      @label='Name (single)'
      @record={{family}}
      @attribute='nameSingle'
    />

    <Field::OneToMany
      @label='This product family is a subset of ...'
      @legend='Leave blank if top level family.'
      @baseRecord={{family}}
      @baseLabel='productFamily'
      @targetModel='product-family'
      @targetFilter='namePlural'
      @targetRoute='secure.families.family'
      @minKeyStrokes='0'
    />

    {{#if family.isMainFamily}}
      <Field::ManyToOne
        @label='Sub families'
        @baseRecord={{family}}
        @baseLabel='children'
        @targetModel='product-family'
        @targetLabel='namePlural'
        @targetRank='rank'
        @targetForeignId='productFamily'
        @targetRoute='secure.families.family'
      />
    {{/if}}

    <Field::ManyToOne
      @label='Products belonging to this family'
      @legend='Drag to sort.'
      @baseRecord={{family}}
      @baseLabel='products'
      @targetModel='product'
      @targetLabel='name'
      @targetRank='rankAmongFamily'
      @targetForeignId='productFamily'
      @targetRoute='secure.products.product'
    />

    {{#if family.isMainFamily}}
      <Field::Number
        @label='Rank among top level families'
        @record={{family}}
        @attribute='rank'
      />

      {{#each this.mainFamilies as |fam|}}
        {{#if fam.isCurrent}}
          <p>{{fam.rank}} - <mark>{{fam.namePlural}}</mark></p>
        {{else}}
          <p>{{fam.rank}} - {{fam.namePlural}}</p>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if family.isMainFamily}}
      <h2>Images</h2>

      <Field::ManyToMany
        @label='The 4 avatars'
        @legend='On the product overview page we show 4 images to represent this product family.'
        @baseRecord={{family}}
        @baseModel='productFamily'
        @baseLabel='productFamilyImages'
        @joinModel='product-family-image'
        @joinRankKey='rankAmongImages'
        @targetModel='image'
        @targetLabel='alt'
        @targetRoute='secure.images.image'
        @disabled={{this.maxAvatarCountReached}}
      />

      <Fieldset>
        <ul class='images'>
          {{#each this.sortedImages as |joinRecord|}}
            <li>
              <p>{{joinRecord.rankAmongImages}}</p>
              {{#with joinRecord.image as |image|}}
                <ResponsiveImage
                  @path={{image.path}}
                  @variations={{image.variations}}
                  @caption={{image.caption}}
                  @alt={{image.alt}}
                />
              {{/with}}
            </li>
          {{/each}}
        </ul>
      </Fieldset>
    {{/if}}

    <h2>Content</h2>

    <Field::String
      @label='Short explanation'
      @legend='Explain in less than 160 words and 7 seconds to a layman what this type of product is and what is commonly used for.'
      @record={{family}}
      @attribute='gist'
      @multiline='true'
    />

    <Field::String
      @label='Long explanation'
      @legend='Explain in full length what this product family is, what is used for and how to recognise a quality (aka how to recognise Interflux). Attempt to speak to a layman at first, but progressively get more technical for the experts.'
      @record={{family}}
      @attribute='theFullMonty'
      @multiline='true'
    />

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{family}}
      @attribute='slug'
      @afterSave={{this.redirect}}
      @disabled='true'
    />

    <Button
      @text='Delete from database'
      @onClick={{this.destroyRecord}}
      @theme='danger-red'
      @icon='warning'
    />

    {{#if this.showDeleteInstructions}}
      <p>To delete this family, please first remove all relations:</p>
      {{#if family.productCount}}
        <p>Products: {{family.productCount}}</p>
      {{/if}}
      {{#if family.imageCount}}
        <p>Images: {{family.imageCount}}</p>
      {{/if}}
    {{/if}}
  </Modal>
{{/with}}