{{#with @model.family as |family|}}
  <Modal @id="family">
    <h1>{{family.namePlural}}</h1>
    <h2>Family</h2>

    <hr>

    <Fieldset>
      <Label>Name</Label>
      <Input::String
        @contenteditable={{true}}
        @value={{product.name}}
        @onKeyUp={{fn (mut product.name)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Name</Label>
      <Input
        @value={{product.name}}
        @key-down={{fn (mut product.name)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Family</Label>
      <Input
        @value={{product.family.namePlural}}
        @key-down={{fn (mut product.family.namePlural)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Pitch</Label>
      <Textarea
        @value={{product.pitch}}
        @key-down={{fn (mut product.pitch)}}
        cols="80"
        rows="3"
      />
      <!--  -->
    </Fieldset>

    <hr>
  </Modal>
{{/with}}