{{#with @model.family as |family|}}
  <Modal @id="family">
    <h1>{{family.namePlural}}</h1>
    <h2>Properties</h2>

    <Field::String
      @label='Plural name'
      @record={{family}}
      @attribute='namePlural'
    />

    <Field::String
      @label='Singular name'
      @record={{family}}
      @attribute='nameSingle'
    />

    <Field::String
      @label='Position on website'
      @record={{family}}
      @attribute='order'
    />

    <Field::String
      @label='Database ID'
      @record={{family}}
      @attribute='id'
      @disabled='true'
    />

    <h2>Relations</h2>

    <Field::ManyToMany
      @label="Products"
      @record={{family}}
      @relation='products'
      @relationModel='product'
      @relationLabel='name'
      @route='secure.products.product'
    />
  </Modal>
{{/with}}