{{#with @model.family as |family|}}
  <Modal @id="family">
    <h1>{{capitalize family.namePlural}}</h1>
    <h2>Properties</h2>

    <p>In some parts of the website we refer to this product family in singular and sometimes in plural tense.</p>

    <Field::String
      @label='Plural name'
      @record={{family}}
      @attribute='namePlural'
    />

    <Field::String
      @label='Singular name'
      @record={{family}}
      @attribute='nameSingle'
    />

    <Field::String
      @label='Rank on website'
      @legend='Use numbers to indicate how you would want to rank the product families on the website. 1 goes to the top, 9 to the bottom.'
      @record={{family}}
      @attribute='order'
    />

    <h2>Relations</h2>

    <Field::ManyToOne
      @label="Products"
      @legend="All products belonging to {{family.namePlural}}."
      @record={{family}}
      @relation='products'
      @relationModel='product'
      @relationLabel='name'
      @route='secure.products.product'
    />

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{family}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}