{{#with @model.process as |process|}}
  <Modal @id="process">
    <h1>{{process.text}}</h1>
    <h2>Properties</h2>

    <Field::String
      @label='Name'
      @record={{process}}
      @attribute='name'
    />

    <Field::String
      @label='Gist'
      @record={{process}}
      @attribute='gist'
      @multiline='true'
    />

    <Field::String
      @label='Icon'
      @record={{process}}
      @attribute='icon'
    />

    <Field::String
      @label='Category'
      @record={{process}}
      @attribute='category'
    />

    <h2>Relations</h2>

    <Field::HasManyRelations
      @label="Products"
      @record={{process}}
      @relation='products'
      @relationLabel='name'
      @route='secure.products.product'
    />

    <Field::HasManyRelations
      @label="Families"
      @record={{process}}
      @relation='families'
      @relationLabel='namePlural'
      @route='secure.products.product'
    />

    <h2>Website</h2>

    <Field::Boolean
      @label='Has page'
      @record={{process}}
      @attribute='hasPage'
    />

    <h2>Database</h2>

    <Field::String
      @label='ID'
      @record={{process}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}