<Fieldset
  {{!-- props --}}
  @id={{this.id}}
  @label={{@label}}
  @legend={{@legend}}
  @component="many-to-one"
  @theme={{@theme}}
  {{!-- state --}}
  @state={{this.state}}
  @hasFocus={{this.hasFocus}}
>
  {{#if (has-block)}}
    {{yield this.relations}}
  {{else}}
    <ul>
      {{#each this.relations as |relation|}}
        <li>
          <a href={{href-to @route relation.record.id}}>{{relation.label}}</a>
        </li>
      {{else}}
        <p>None</p>
      {{/each}}
    </ul>
  {{/if}}
</Fieldset>