<Fieldset
  @id={{this.id}}
  @label={{@label}}
  @legend={{@legend}}
  @component="many-to-one"
  @theme={{@theme}}
  @state={{this.state}}
  @hasFocus={{this.hasFocus}}
>
  <ul class="list {{this.listClasses}}">
    {{#each this.rows as |row|}}
      <li
        draggable={{this.canSortList}}
        ondragstart={{fn this.handleDragStart row}}
        ondragend={{fn this.handleDragEnd row}}
      >
        <a href={{href-to @targetRoute row.targetRecord.id}}>{{row.label}}</a>

        <div class="right">
          {{#if this.canSortList}}
            <div class="rank">
              <p>{{row.rank}}{{unless row.isRanked '*'}}</p>
            </div>
          {{/if}}

          <DotDotDotMenu>
            <Button
              @icon="trash"
              @text="remove"
              @onMouseDown={{fn this.remove row}}
            />
          </DotDotDotMenu>
        </div>

        {{#if this.canSortList}}
          <div
            class="dropzone top"
            ondragenter={{fn this.handleDragEnter row}}
            ondragleave={{fn this.handleDragLeave row}}
            ondragover={{fn this.handleDragOver row}}
            ondrop={{fn this.handleDrop row}}
          >
            <div class="line"></div>
          </div>

          {{#if row.isLast}}
            <div
              class="dropzone bottom"
              ondragenter={{fn this.handleDragEnter row}}
              ondragleave={{fn this.handleDragLeave row}}
              ondragover={{fn this.handleDragOver row}}
              ondrop={{fn this.handleDrop row}}
            >
              <div class="line"></div>
            </div>
          {{/if}}
        {{/if}}
      </li>
    {{else}}
      <li class="dashed">
        <span>- none -</span>
      </li>
    {{/each}}
  </ul>

  {{#unless @disabled}}
    {{#if this.showSearch}}
      <Search
        @id={{this.id}}
        @value={{this.value}}
        @state={{this.state}}
        @placeholder="Search product"
        @autofocus="true"
        @onFocus={{this.onFocus}}
        @onBlur={{this.onSearchBlur}}
        @onKeyUp={{this.onKeyUp}}
        @onSelect={{this.onSelect}}
        @searchModel={{@targetModel}}
        @searchLabel={{@targetLabel}}
        @searchFilter={{this.searchFilter}}
        @error={{this.error}}
      ></Search>
    {{else}}
      <Button
        @text="Add"
        @theme="save"
        @onClick={{this.onClickAddButton}}
      />
    {{/if}}
  {{/unless}}
</Fieldset>