<Modal @id="image">
  <Image::Responsive
    @path={{@model.image.path}}
    @sizes={{@model.image.sizes}}
    @formats={{@model.image.formats}}
    @alt={{@model.image.alt}}
    @caption={{@model.image.caption}}
  />

  <hr>

  <Fieldset>
    <label>Model</label>
    <input
      type="text"
      value="image"
    >
  </Fieldset>

  <Fieldset>
    <label>ID</label>
    <input
      type="text"
      value={{@model.image.id}}
    >
  </Fieldset>

  <hr>

  <Fieldset>
    <label>Caption</label>
    <input
      type="text"
      value="{{@model.image.caption}}"
    >
    <legend>Text shown below the image.</legend>
  </Fieldset>

  <Fieldset>
    <label>Alt</label>
    <input
      type="text"
      value={{@model.image.alt}}
    >
    <legend>Text shown only to Google and screen readers.</legend>
  </Fieldset>

  <Fieldset>
    <label>CDN path</label>
    <input
      type="text"
      value="{{@model.image.path}}"
    >
    <legend>Where the file is stored on our CDN (<a
        href="{{cdn}}/index.html"
        target="_blank"
        rel="nofollow noopener"
      >
        {{cdn}}
      </a>).</legend>
  </Fieldset>

  <Fieldset>
    <label>All available sizes and formats</label>
    <ul>
      {{#each @model.image.files as |file|}}
        <li>
          <a
            href={{file.url}}
            target="_blank"
          >
            @{{file.width}}x{{file.height}}.{{file.format}}
          </a>
        </li>
      {{/each}}
    </ul>
  </Fieldset>
</Modal>