<Modal @id='translation'>
  {{#if this.isDone}}
    <div class='status'>
      <Tag @text='done' @theme='green-1 admin medium' />
      <p>no action required</p>
    </div>

    <Field::String
      @id='source'
      @label={{this.sourceLabel}}
      @legend={{this.sourceLegend}}
      @record={{this.record}}
      @attribute='english'
      @disabled={{true}}
      @multiline={{true}}
    />

    <Field::String
      @id='native'
      @label={{this.nativeLabel}}
      @legend={{this.nativeLegend}}
      @record={{this.record}}
      @attribute='native'
      @hideSave={{true}}
      @onEnter={{this.onClickSave}}
      @multiline={{true}}
    />

    <div class='actions'>
      <div class='left'>
        {{#if this.hasChanges}}
          <Button
            @text='Save'
            @theme='medium green'
            @onClick={{this.onClickSave}}
          />

          <Button
            @text='Undo changes'
            @theme='medium grey'
            @onClick={{this.onClickUndo}}
          />
        {{else}}
          <Button
            @text='Edit'
            @theme='medium grey'
            @onClick={{this.onClickEdit}}
          />
        {{/if}}
      </div>

      <div class='right'>
        <Button
          @icon='chevron-left'
          @theme='medium grey'
          @onClick={{this.onClickLeftArrow}}
        />

        <Button
          @icon='chevron-right'
          @theme='medium grey'
          @onClick={{this.onClickRightArrow}}
        />
      </div>
    </div>
  {{/if}}

  {{#if this.isToReview}}
    <div class='status'>
      <Tag @text='to review' @theme='blue-2 admin medium' />
      <p>translated by a robot, please review</p>
    </div>

    <Field::String
      @id='source'
      @label={{this.sourceLabel}}
      @legend={{this.sourceLegend}}
      @record={{this.record}}
      @attribute='english'
      @disabled={{true}}
      @multiline={{true}}
    />

    <Field::String
      @id='native'
      @label={{this.nativeLabel}}
      @legend={{this.nativeLegend}}
      @record={{this.record}}
      @attribute='native'
      @disabled={{true}}
      @multiline={{true}}
    />

    <div class='actions'>
      <div class='left'>
        <Button
          @text='Accept'
          @theme='medium grey'
          @onClick={{this.onClickAccept}}
        />

        <Button
          @text='Reject'
          @theme='medium grey'
          @onClick={{this.onClickReject}}
        />
      </div>

      <div class='right'>
        <Button
          @icon='chevron-left'
          @theme='medium grey'
          @onClick={{this.onClickLeftArrow}}
        />

        <Button
          @icon='chevron-right'
          @theme='medium grey'
          @onClick={{this.onClickRightArrow}}
        />
      </div>
    </div>

    {{#if this.showError}}
      <Error::Generic />
    {{/if}}
  {{/if}}

  {{#if this.isToUpdate}}
    <div class='status'>
      <Tag @text='to update' @theme='orange-2 admin medium' />
    </div>

    <p class='update-cta'>
      This English phrase on our website has changed. Please update the
      {{this.languageFull}}
      translation in the same way.
    </p>

    <Field::String
      @id='last'
      @label='English before change'
      @legend='This English phrase was visible on our website, before the update happened. For reference.'
      @record={{this.record}}
      @attribute='englishBefore'
      @disabled={{true}}
      @multiline={{true}}
    />

    <Field::String
      @id='source'
      @label='English now'
      @legend='This English phrase is now visible on our website.'
      @record={{this.record}}
      @attribute='english'
      @disabled={{true}}
      @multiline={{true}}
    />

    <Field::String
      @id='native'
      @label={{this.nativeLabel}}
      @legend={{this.nativeLegend}}
      @record={{this.record}}
      @attribute='native'
      @multiline={{true}}
      @hideSave={{true}}
    />

    <div class='actions'>
      <div class='left'>
        {{#if this.hasChanges}}
          <Button
            @text='Save'
            @theme='medium green'
            @onClick={{this.onClickSave}}
          />
        {{else}}
          <Button
            @text='No changes'
            @theme='medium grey'
            @onClick={{this.onClickSave}}
          />
        {{/if}}

        <Button
          @text={{if this.isTranslating 'Translating ...' 'Auto-translate'}}
          @theme='medium grey {{if this.isTranslating "busy"}}'
          @onClick={{this.onClickAutoTranslate}}
          @isBusy={{this.isTranslating}}
        />
      </div>

      <div class='right'>
        <Button
          @icon='chevron-left'
          @theme='medium grey'
          @onClick={{this.onClickLeftArrow}}
        />

        <Button
          @icon='chevron-right'
          @theme='medium grey'
          @onClick={{this.onClickRightArrow}}
        />
      </div>
    </div>
  {{/if}}

  {{#if this.isToTranslate}}
    <div class='status'>
      <Tag @text='to translate' @theme='red-1 admin medium' />
      <p>urgent</p>
    </div>

    <Field::String
      @id='source'
      @label={{this.sourceLabel}}
      @legend={{this.sourceLegend}}
      @record={{this.record}}
      @attribute='english'
      @disabled={{true}}
      @multiline={{true}}
    />

    <Field::String
      @id='native'
      @label={{this.nativeLabel}}
      @legend={{this.nativeLegend}}
      @record={{this.record}}
      @attribute='native'
      @hideSave={{true}}
      @onEnter={{this.onClickSave}}
      @multiline={{true}}
    />

    <div class='actions'>
      <div class='left'>
        {{#if this.hasChanges}}
          <Button
            @text='Save'
            @theme='medium green'
            @onClick={{this.onClickSave}}
          />
        {{/if}}

        <Button
          @text={{if this.isTranslating 'Translating ...' 'Auto-translate'}}
          @theme='medium grey {{if this.isTranslating "busy"}}'
          @onClick={{this.onClickAutoTranslate}}
          @isBusy={{this.isTranslating}}
        />
      </div>

      <div class='right'>
        <Button
          @icon='chevron-left'
          @theme='medium grey'
          @onClick={{this.onClickLeftArrow}}
        />

        <Button
          @icon='chevron-right'
          @theme='medium grey'
          @onClick={{this.onClickRightArrow}}
        />
      </div>
    </div>
  {{/if}}

  {{#if this.hasError}}
    <div class='status'>
      <Tag @text='error' @theme='red-1 admin medium' />
    </div>

    <p>
      Auto-translation failed. Please notify Jan so he can he can resolve this
      error and prevent similar issues from reocuring.
    </p>

    <p>English: {{this.record.english}}</p>
    <p>{{this.languageFull}}: {{this.record.native}}</p>
    <p>Location: {{this.record.location}}</p>
    <p>Error: {{this.record.error}}</p>

    <div class='actions'>
      <div class='left'>
        <Button
          @text='Reset'
          @theme='medium grey'
          @onClick={{this.onClickReset}}
        />
      </div>

      <div class='right'>
        <Button
          @icon='chevron-left'
          @theme='medium grey'
          @onClick={{this.onClickLeftArrow}}
        />

        <Button
          @icon='chevron-right'
          @theme='medium grey'
          @onClick={{this.onClickRightArrow}}
        />
      </div>
    </div>
  {{/if}}

  <div {{did-insert this.onInsert}}></div>
</Modal>