<nav id="user">
  <p>Hello <strong>{{this.userFirstName}}</strong></p>
  <div class="icon">
    <Svg::UserCircle />
  </div>

  <div class="dropdown {{this.showDropdown}}">
    <a href={{href-to 'secure.user.preferences'}}>preferences</a>
    <a href={{href-to 'secure.user.download'}}>download app</a>
    <a href={{href-to 'secure.user.issue'}}>report issue</a>
    <a href={{href-to 'secure.user.help'}}>ask help</a>
    <button
      onclick={{this.auth.reset}}
      type="button"
    >
      logout
    </button>
  </div>
</nav>