{{#with @model.feature as |feature|}}
  <Modal @id="feature">
    <h1>{{feature.text}}</h1>
    <h2>Properties</h2>

    <Field::String
      @label='Name'
      @record={{feature}}
      @attribute='name'
    />



    <Field::String
      @label='Icon'
      @record={{feature}}
      @attribute='icon'
    />

    {{#if feature.icon}}
      <div class="icon">
        <img
          src={{concat (cdn) "/images/icons/" feature.icon ".svg"}}
          alt="{{feature.name}}"
        >
      </div>
    {{/if}}

    <Field::String
      @label='Gist'
      @record={{feature}}
      @attribute='gist'
      @multiline='true'
    />

    <Field::String
      @label='Category'
      @record={{feature}}
      @attribute='category'
      @disabled="true"
    />

    <h2>Relations</h2>

    <Field::ManyToMany
      @label="Products"
      @baseRecord={{feature}}
      @baseModel="feature"
      @baseLabel="productFeatures"
      @joinModel="product-feature"
      @targetModel="product"
      @targetLabel="name"
      @targetRoute='secure.products.product'
    />

    <!-- <Field::ManyToMany
      @label="Families"
      @legend="Derived from the products above."
      @record={{feature}}
      @relation='families'
      @relationLabel='namePlural'
      @route='secure.products.product'
      @disabled="true"
    /> -->

    <h2>Website</h2>

    <Field::Boolean
      @label='Has page'
      @record={{feature}}
      @attribute='hasPage'
    />

    <h2>Database</h2>

    <Field::String
      @label='ID'
      @record={{feature}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}