<Fieldset
  @id={{this.id}}
  @label={{@label}}
  @legend={{@legend}}
  @component='boolean'
  @theme={{@theme}}
  @state={{this.state}}
>
  <div class='checkbox'>
    <Checkbox
      @id={{this.id}}
      @checked={{this.value}}
      @disabled={{this.disabled}}
      @onClick={{this.onClick}}
    />

    {{#if (eq this.state 'saving')}}
      <div class='icon saving'></div>
    {{/if}}

    {{#if (eq this.state 'error')}}
      <div class='icon error'>
        <Svg::Error />
      </div>
    {{/if}}
  </div>

  {{! Pass in custom <label> with HTML markup inside. }}
  <div class='content'>
    {{yield}}
  </div>

  {{#if (eq this.state 'error')}}
    <Error::Generic />
  {{/if}}
</Fieldset>