{{#let @model.video as |video|}}
  <Modal @id='video'>
    <ResponsiveVideo @path={{video.path}} @variations={{video.variations}} />

    <h1>{{video.title}}</h1>

    <h2>Properties</h2>

    <Field::String
      @label='Title'
      @record={{video}}
      @attribute='title'
      @multiline='true'
    />

    {{!-- <Field::String
      @label='Notes'
      @record={{video}}
      @attribute='notes'
      @multiline='true'
    /> --}}

    {{!-- {{#if video.isWebinar}}
      <Fieldset @label='Webinar'>
        <ul class='list'>
          {{#if video.webinar.id}}
            <li>
              <div class='left'>
                <a href={{href-to 'secure.webinars.webinar' video.webinar.id}}>
                  {{video.webinar.title}}
                </a>
              </div>
            </li>
          {{else}}
            <li class='dashed'>
              <div class='left'>
                <span class='no-link'>- none -</span>
              </div>
            </li>
          {{/if}}
        </ul>
      </Fieldset>
    {{/if}} --}}

    <h2>Files</h2>

    {{#if video.MP4s}}
      <Fieldset
        @label='MP4s'
        @legend='Compatible with all apps. Large file size. Good video and audio quality.'
      >
        <ul class='list'>
          {{#each video.MP4s as |variation|}}
            <li>
              <div class='left'>
                <a
                  href='{{cdn}}{{video.path}}{{variation}}'
                  target='_blank'
                  rel='noreferrer noopener'
                >{{variation}}</a>
              </div>
            </li>
          {{/each}}
        </ul>
      </Fieldset>
    {{/if}}

    {{#if video.WEBMs}}
      <Fieldset
        @label='WEBMs'
        @legend='30% smaller than MP4. Same quality as MP4. Designed for streaming on websites. Not compatible with all apps.'
      >
        <ul class='list'>
          {{#each video.WEBMs as |variation|}}
            <li>
              <div class='left'>
                <a
                  href='{{cdn}}{{video.path}}{{variation}}'
                  target='_blank'
                  rel='noreferrer noopener'
                >{{variation}}</a>
              </div>
            </li>
          {{/each}}
        </ul>
      </Fieldset>
    {{/if}}

    {{#if video.hasPoster}}
      <Fieldset
        @label='Posters'
        @legend='These images are shown before the video starts playing.'
      >
        <ul class='list'>
          {{#each video.PNGs as |variation|}}
            <li>
              <div class='left'>
                <a
                  href='{{cdn}}{{video.path}}{{variation}}'
                  target='_blank'
                  rel='noreferrer noopener'
                >{{variation}}</a>
              </div>
            </li>
          {{/each}}

          {{#each video.JPGs as |variation|}}
            <li>
              <div class='left'>
                <a
                  href='{{cdn}}{{video.path}}{{variation}}'
                  target='_blank'
                  rel='noreferrer noopener'
                >{{variation}}</a>
              </div>
            </li>
          {{/each}}

          {{#each video.WEBPs as |variation|}}
            <li>
              <div class='left'>
                <a
                  href='{{cdn}}{{video.path}}{{variation}}'
                  target='_blank'
                  rel='noreferrer noopener'
                >{{variation}}</a>
              </div>
            </li>
          {{/each}}
        </ul>
      </Fieldset>
    {{/if}}
  </Modal>
{{/let}}