<div class='textarea {{this.classes}}'>
  <div class='wrapper'>
    <p class='pusher'>
      {{this.valueWithBreaks}}
    </p>
    {{! The <p> above is hidden from the user, but helps expand the textarea vertically }}
    <Textarea
      id='textarea-{{@id}}'
      @value={{this.value}}
      placeholder={{@placeholder}}
      autofocus={{@autofocus}}
      disabled={{@disabled}}
      autocapitalize='off'
      autocomplete='off'
      autocorrect='off'
      spellcheck='false'
      aria-multiline
      {{on 'focus' this.onFocus}}
      {{on 'blur' this.onBlur}}
      {{on 'keydown' this.onKeyDown}}
      {{on 'keyup' this.onKeyUp}}
      {{on 'mouseover' this.onMouseOver}}
      {{on 'mouseout' this.onMouseOut}}
      {{on 'paste' this.onPaste}}
      {{on 'change' this.onChange}}
    />

    {{yield}}
  </div>
</div>