<h1>Image</h1>
<p>Path: {{@image.cdnPath}}</p>
<p>Formats:</p>
<ul>
  {{#each @image.formats as |format|}}
    <li>{{format}}</li>
  {{/each}}
</ul>
<p>Sizes:</p>
<ul>
  {{#each @image.sizes as |size|}}
    <li>{{size}}</li>
  {{/each}}
</ul>
<p>URLs:</p>
<ul>
  {{#each @image.files as |file|}}
    <li>
      <a href={{file.url}} target="_blank">
        {{file.url}}
      </a>
    </li>
  {{/each}}
</ul>
