<nav
  id="resources"
  class="{{isExpanded}}"
>
  <button onclick={{this.toggleExpansion}}>
    <div class="icon">
      <Svg::Hamburger />
    </div>
    <h1>Interflux</h1>
  </button>

  {{#each this.resources as |resource|}}
    <a
      href="{{href-to resource.route}}"
      class={{resource.isActive}}
      onclick={{collapse}}
    >
      <div class="icon">
        {{component resource.icon}}
      </div>
      <p>{{resource.label}}</p>
    </a>
  {{/each}}
</nav>