<nav
  id="resources"
  class="{{isExpanded}}"
>
  <button onclick={{this.toggleExpansion}}>
    <div class="clip">
      <div class="fade"></div>
      <div class="icon">
        <Svg::Hamburger />
      </div>
      <h1>Interflux</h1>
    </div>

    <div class="float">
      <p>Interflux</p>
    </div>
  </button>

  {{#each this.resources as |resource|}}
    <a
      href="{{href-to resource.route}}"
      class={{resource.isActive}}
      onclick={{collapse}}
    >
      <div class="clip">
        <div class="fade"></div>
        <div class="icon">
          {{component resource.icon}}
        </div>
        <p>{{resource.label}}</p>
      </div>

      <div class="float">
        <p>{{resource.label}}</p>
      </div>
    </a>
  {{/each}}
</nav>