{{#let @model.event as |event|}}
  <Modal @id='event'>
    <h1>{{if event.name event.name 'New event'}}</h1>

    <h2>Details</h2>

    <Field::String @label='Name' @record={{event}} @attribute='name' />

    <Field::OneToMany
      @label='Country'
      @baseRecord={{event}}
      @baseLabel='country'
      @targetModel='country'
      @targetFilter='nameEnglish'
      @minKeyStrokes='2'
    />

    <Field::String @label='City' @record={{event}} @attribute='city' />

    <Field::DateString
      @label='Start date'
      @record={{event}}
      @attribute='startDate'
    />

    <Field::DateString
      @label='End date'
      @record={{event}}
      @attribute='endDate'
    />

    <p>Dates old: {{event.dates}}</p>
    <p>Dates new: {{event.datesCombined}}</p>
    <p>Has ended: {{event.hasEnded}}</p>

    <Field::String
      @label='Description'
      @record={{event}}
      @attribute='description'
      @multiline='true'
      @tools={{array 'bold' 'link' 'bullets'}}
    />

    <Button
      @text='Delete from database'
      @onClick={{this.destroyRecord}}
      @theme='danger-red'
      @icon='warning'
    />
  </Modal>
{{/let}}