{{#with @model.company as |company|}}

  <Modal @id="document">

    <h1>{{company.businessName}}</h1>

    <hr>

    <Fieldset>
      <Label>Business name</Label>
      <Input
        @value={{company.businessName}}
        @key-down={{fn (mut company.businessName)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Legal name</Label>
      <Input
        @value={{company.legalName}}
        @key-down={{fn (mut company.legalName)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Phone</Label>
      <Input
        @value={{company.phone}}
        @key-down={{fn (mut company.phone)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Fax</Label>
      <Input
        @value={{company.fax}}
        @key-down={{fn (mut company.fax)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Website</Label>
      <Input
        @value={{company.website}}
        @key-down={{fn (mut company.website)}}
      />
    </Fieldset>

    <Fieldset>
      <Label
        @text="Emails"
        @hint="Use commas to separate multiple emails"
      />
      <Input
        @value={{company.emails}}
        @key-down={{fn (mut company.emails)}}
      />
    </Fieldset>

    <hr>

    <Fieldset>
      <Label>Address</Label>
      <Textarea
        @value={{company.address}}
        @key-down={{fn (mut company.address)}}
        cols="80"
        rows="3"
      />
      <!--  -->
    </Fieldset>

    <Fieldset>
      <Label>Country</Label>
      <Input::BelongsTo
        @value={{company.country}}
        @options={{@model.countries}}
        @key="nameEnglish"
      />
    </Fieldset>

    <Fieldset>
      <Label>Latitude</Label>
      <Input
        @value={{company.latitude}}
        @key-down={{fn (mut company.latitude)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Longitude</Label>
      <Input
        @value={{company.longitude}}
        @key-down={{fn (mut company.longitude)}}
      />
    </Fieldset>

    <hr>

    <!-- <p>Market:</p>

    <ul>
      {{#each company.markets as |market|}}
        <li>{{market.nameEnglish}}</li>
      {{/each}}
    </ul>

    <hr> -->

    <!-- <p>Members:</p>
    <ul>
      {{#each company.members as |member|}}
        <li>{{member.person.firstName}} {{member.person.lastName}}</li>
      {{/each}}
    </ul>

    <hr> -->

    <hr>

    <Fieldset>
      <Label
        @text="Show on website"
        @hint="If yes, this company will be shown on app.interflux.com. If no, this company is hidden from the world and can only be seen by Interflux members who are logged in on admin.interflux.com."
      />
      <Input::Boolean
        @value={{company.public}}
        @textTrue="Yes"
        @textFalse="No"
        @onToggle={{fn (mut company.public)}}
      />
    </Fieldset>

    {{#if company.public}}
      <Fieldset>
        <Label
          @text="Position in list?"
          @hint="Leave empty to sort alphabetically. Enter an integer to sort this company above the alphabetically sorted companies."
        />
        <Input
          @value={{company.order}}
          @key-down={{fn (mut company.order)}}
        />
      </Fieldset>
    {{/if}}

    <hr>

    <Buttons::Horizontal>
      <div class="left"></div>
      <div class="right">
        {{#if company.hasDirtyAttributes}}
          <Button::Action
            @action={{company.rollbackAttributes}}
            @text="reset changes"
            @size="medium"
            @style="grey link"
          />
        {{/if}}

        <Button::Action
          @action={{fn this.save company}}
          @text={{if company.hasDirtyAttributes (if company.isSaving 'Saving...' 'save changes') 'no changes'}}
          @disabled={{if company.hasDirtyAttributes false true}}
          @size="medium"
          @style="green"
        />
      </div>
    </Buttons::Horizontal>
  </Modal>

{{/with}}