<div class="spreadsheet">
  <div class="tools">
    <div class="left">
      <div class="input">
        <p
          contenteditable="true"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          {{on 'keyup' this.onKeyUp}}
          {{on 'keydown' this.onKeyDown}}
          {{on 'click' this.selectText}}
          {{did-insert this.autoFocus}}
        ></p>
        {{#if (eq this.query '')}}
          <p class="placeholder">Search</p>
        {{/if}}
        <div class="icon">
          <Svg::Search::Solid />
        </div>
      </div>
    </div>

    <div class="right">
      <Button::Action
        @text="Create"
        @action={{this.noop}}
      />
      <Button::Action
        @text="Configure"
        @action={{this.noop}}
      />
      <Button::Action
        @text="Export"
        @action={{this.noop}}
      />
    </div>
  </div>

  <div
    class="data"
    {{did-insert this.register}}
  >
    {{#each @columns as |column i|}}
      <div class="column {{if (eq i this.sortColumn) 'sort'}}">
        <header {{on 'click' (fn this.setSortColumn i)}}>
          <h2>{{column.label}}</h2>
          {{#if (eq i this.sortColumn)}}
            <div class="icon">
              <Svg::Sort::Solid />
            </div>
          {{/if}}
        </header>

        <ul>
          {{#each @records as |record|}}
            <li
              class="row"
              data-record={{record.id}}
              {{on 'mouseover' (fn this.highlight record.id)}}
              {{on 'click' (fn select record.id)}}
            >
              <p data-search="me">{{get record column.key}}</p>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>

  <footer>
    {{#if (eq count 0)}}
      <hr>
    {{/if}}
    <p>Results: {{this.count}} / {{this.total}}</p>
  </footer>
</div>