<div class="spreadsheet">
  <div class="tools">
    <div class="left">
      <div class="input">
        <p
          contenteditable="true"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          {{on 'keyup' this.onKeyUp}}
          {{on 'keydown' this.onKeyDown}}
          {{on 'click' this.selectText}}
          role="button"
        ></p>
        {{#if (eq this.query '')}}
          <p class="placeholder">Search</p>
        {{/if}}
        <div class="icon">
          {{#if this.showSearchIcon}}
            <Svg::Search />
          {{else if this.showCrossIcon}}
            <Svg::Cross />
          {{/if}}
        </div>
      </div>

      <div class="counter">
        <p>{{this.count}}</p>
      </div>
    </div>

    <div class="right">
      {{#if @showCreateButton}}
        <Button
          @text="Create"
          @route={{@createRoute}}
          @theme="big-green"
        />
      {{/if}}
    </div>
  </div>

  <div
    class="data"
    {{did-insert this.register}}
  >
    {{#each @columns as |column|}}
      <div class="column {{if (eq this.sortBy column.key) 'sort'}}">
        <header
          {{on 'click' (fn this.setSortBy column.key)}}
          role="button"
        >
          <h2>{{column.label}}</h2>
          {{#if (eq this.sortBy column.key)}}
            <div class="sort">
              {{#if this.sortUp}}
                <Svg::SortUp />
              {{else}}
                <Svg::SortDown />
              {{/if}}
            </div>
          {{/if}}
        </header>

        <ul>
          {{#each this.sortedRecords as |record|}}
            <li
              class="row"
              data-record={{record.id}}
              {{on 'mouseover' (fn this.highlight record.id)}}
              {{on 'click' (fn this.select record.id)}}
              role="button"
            >
              <p data-search="me">{{get record column.key}}</p>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</div>