<div class='spreadsheet'>
  <div class='tools'>
    <div class='left'>
      <div class='input'>
        <p
          role='textbox'
          contenteditable='true'
          autocomplete='off'
          autocorrect='off'
          autocapitalize='off'
          spellcheck='false'
          {{on 'keyup' this.onKeyUp}}
          {{on 'keydown' this.onKeyDown}}
          {{on 'click' this.selectText}}
          {{did-insert this.onInsertSearch}}
        ></p>
        {{#if (eq this.query '')}}
          <p class='placeholder'>Search</p>
        {{/if}}
        <div class='icon'>
          {{#if this.showSearchIcon}}
            <Svg::Search />
          {{else if this.showCrossIcon}}
            <Svg::Cross />
          {{/if}}
        </div>
      </div>
      {{#if this.query}}
        <div class='counter'>
          <p>{{this.count}}</p>
        </div>
      {{/if}}
    </div>

    <div class='right'>
      {{#if @showCreateButton}}
        <Button @text='Create' @route={{@createRoute}} @theme='big-green' />
      {{/if}}
    </div>
  </div>

  {{#if (eq @layout 'image-tiles')}}
    <ul class='tiles' {{did-insert this.onInsertData}}>
      {{#each this.sortedRecords as |record|}}
        <li
          class='tile'
          role='button'
          data-record={{record.id}}
          {{on 'mouseover' (fn this.highlight record.id)}}
          {{on 'click' (fn this.select record.id)}}
        >
          {{#each @columns as |column|}}
            {{#if column.isImage}}
              {{#let (get record column.key) as |url|}}
                {{#if url}}
                  <Image @src={{url}} />
                {{/if}}
              {{/let}}
            {{else}}
              <p data-search='me'>{{get record column.key}}</p>
            {{/if}}
          {{/each}}
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div class='columns {{@layout}}' {{did-insert this.onInsertData}}>
      {{#each @columns as |column|}}
        <div class='column {{if (eq this.sortBy column.key) "sort"}}'>
          <header role='button' {{on 'click' (fn this.setSortBy column.key)}}>
            <h2>{{column.label}}</h2>
            {{#if (eq this.sortBy column.key)}}
              <div class='sort'>
                {{#if this.sortUp}}
                  <Svg::SortUp />
                {{else}}
                  <Svg::SortDown />
                {{/if}}
              </div>
            {{/if}}
          </header>

          <ul>
            {{#each this.sortedRecords as |record|}}
              <li
                class='row'
                data-record={{record.id}}
                role='button'
                {{on 'mouseover' (fn this.highlight record.id)}}
                {{on 'click' (fn this.select record.id)}}
              >
                {{#if column.isImage}}
                  {{#let (get record column.key) as |url|}}
                    {{#if url}}
                      <Image @src={{url}} />
                    {{/if}}
                  {{/let}}
                {{else if column.isResponsiveImage}}
                  {{#let (get record column.key) as |image|}}
                    <ResponsiveImage
                      @path={{image.path}}
                      @variations={{image.variations}}
                    />
                  {{/let}}
                {{else}}
                  <p data-search='me'>{{get record column.key}}</p>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>