{{#with @model.webinar as |webinar|}}
  <Modal @id='webinar'>
    <h1>{{if webinar.title webinar.title 'New webinar'}}</h1>

    <h2>Details</h2>

    <Field::String @label='Title' @record={{webinar}} @attribute='title' />

    <Field::Date
      @label='Start time'
      @legend='In UTC / GMT+0.'
      @record={{webinar}}
      @attribute='startTime'
    />

    <p>Belgium:
      {{webinar.startTimeBelgium}}<br />
      Singapore:
      {{webinar.startTimeSingapore}}<br />
      Melbourne:
      {{webinar.startTimeMelbourne}}</p>

    <Field::String
      @label='Duration'
      @legend='In minutes, including the Q&A.'
      @record={{webinar}}
      @attribute='duration'
    />

    <Field::String
      @label='Agenda'
      @legend='What is this webinar about?'
      @record={{webinar}}
      @attribute='topic'
      @multiline='true'
    />

    <Field::String
      @label='Who should attend?'
      @record={{webinar}}
      @attribute='audience'
      @multiline='true'
      @tools={{array 'bullets'}}
    />

    <Field::OneToMany
      @label='Image'
      @baseRecord={{webinar}}
      @baseLabel='image'
      @targetModel='image'
      @targetFilter='alt'
      @targetPermanentFilters={{array
        (hash key='path' value='~^images/processes')
      }}
      @minKeyStrokes='2'
    />

    {{#if webinar.image}}
      {{#with webinar.image as |image|}}
        <ResponsiveImage
          @path={{image.path}}
          @variations={{image.variations}}
          @caption={{image.caption}}
          @alt={{image.alt}}
        />
      {{/with}}
      <ResponsiveImage
        @path={{webinar.imagePath}}
        @variations={{webinar.imageVariations}}
        @caption={{webinar.imageCaption}}
        @alt={{webinar.imageAlt}}
      />
    {{/if}}

    <h2>Gotowebinar</h2>

    <Field::String
      @label='Link'
      @legend='The URL to the webinar.'
      @record={{webinar}}
      @attribute='url'
    />

    <h2>Website</h2>

    <Field::Boolean @record={{webinar}} @attribute='public'>
      <label>Show on website</label>
    </Field::Boolean>

    <h2>People</h2>

    <Field::OneToMany
      @label='Host'
      @legend='The person who will be presenting.'
      @baseRecord={{webinar}}
      @baseLabel='host'
      @targetModel='person'
      @targetFilter='fullName'
      @minKeyStrokes='1'
    />

    <Field::ManyToMany
      @label='Invitees'
      @legend='Add people to this list to automatically send them an email invitation.'
      @baseRecord={{webinar}}
      @baseModel='webinar'
      @baseLabel='webinarInvitees'
      @joinModel='webinar-invitee'
      @targetModel='person'
      @targetLabel='fullName'
      @targetRoute='secure.people.person'
    />

    <Field::ManyToMany
      @label='Attendees'
      @legend='People who reserved a seat.'
      @baseRecord={{webinar}}
      @baseModel='webinar'
      @baseLabel='webinarAttendees'
      @joinModel='webinar-attendee'
      @targetModel='person'
      @targetLabel='fullName'
      @targetRoute='secure.people.person'
    />

    <h2>After the event</h2>

    <Field::File
      @label='Slide deck PDF'
      @record={{webinar}}
      @attribute='title'
      @allowed-file-types={{array 'pdf'}}
    />

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{webinar}}
      @attribute='id'
      @disabled={{true}}
    />

    <Button
      @text='Delete from database'
      @onClick={{this.destroyRecord}}
      @theme='danger-red'
      @icon='warning'
    />
  </Modal>
{{/with}}