<Field
  @label={{@label}}
  @legend={{@legend}}
  @size={{@size}}
  @theme={{@theme}}
  @focus={{this.hasFocus}}
>
  <input
    value={{@value}}
    placeholder={{@placeholder}}
    type={{this.type}}
    autofocus={{this.autofocus}}
    disabled={{@disabled}}
    autocapitalize='off'
    autocomplete='off'
    autocorrect='off'
    spellcheck='false'
    {{on 'focus' this.onFocus}}
    {{on 'blur' this.onBlur}}
    {{on 'keyup' this.onKeyUp}}
  >

  {{!-- {{#if @contenteditable}}
    <p
      contenteditable="true"
      {{on 'keydown' this.onKeyDown}}
      {{on 'keyup' this.onKeyUpp}}
      role="textbox"
    >
      {{@value}}
    </p>
  {{/if}} --}}

  {{!-- {{#if this.hasFocus}}
    {{#if @hint}}
      <p>{{@hint}}</p>
    {{/if}}
  {{/if}} --}}
</Field>