{{#let @model.product as |product|}}
  <Modal @id='product'>
    {{#if product.image}}
      {{#let product.image as |image|}}
        <ResponsiveImage
          @path={{image.path}}
          @variations={{image.variations}}
        />
      {{/let}}
    {{/if}}

    <h1>{{product.name}}</h1>

    <h2>Properties</h2>

    <Field::String
      @label='Name'
      @record={{product}}
      @attribute='name'
      @disabled={{true}}
      @afterSave={{this.afterSaveName}}
    />

    <Field::OneToMany
      @label='Family'
      @baseRecord={{product}}
      @baseLabel='productFamily'
      @targetModel='product-family'
      @targetFilter='nameSingle'
      @targetRoute='secure.families.family'
      @minKeyStrokes='0'
    />

    <Field::String
      @label='Family override'
      @legend='Leave blank if the family name above is a good description for this product. If not, override it here.'
      @record={{product}}
      @attribute='label'
    />

    <h2>Processes</h2>

    <Field::ManyToMany
      @label='Processess'
      @baseRecord={{product}}
      @baseModel='product'
      @baseLabel='productUses'
      @joinModel='product-use'
      @joinRankKey='rankAmongUses'
      @targetModel='use'
      @targetLabel='text'
      @targetRoute='secure.uses.use'
    />

    {{#if product.productUses}}
      <div class='preview'>
        <ul>
          {{#each product.uses as |use|}}
            <li>
              <Image @src={{use.iconURL}} />
              <p>{{use.label}}</p>
            </li>
          {{/each}}
        </ul>
      </div>

      <Fieldset @label='Show icon on product list'>
        <div>
          {{#each this.product.productUsesSorted as |productUse|}}
            <Field::Boolean
              @record={{productUse}}
              @attribute='showOnProductList'
            >
              <label>{{productUse.use.label}}</label>
            </Field::Boolean>
          {{/each}}
        </div>
      </Fieldset>
    {{/if}}

    <h2>Qualities</h2>

    <Field::ManyToMany
      @label='Qualities'
      @baseRecord={{product}}
      @baseModel='product'
      @baseLabel='productQualities'
      @joinModel='product-quality'
      @joinRankKey='rankAmongQualities'
      @targetModel='quality'
      @targetLabel='text'
      @targetRoute='secure.qualities.quality'
    />

    {{#if product.productQualities}}
      <div class='preview'>
        <ul>
          {{#each product.qualities as |quality|}}
            <li>
              <Image @src={{quality.iconURL}} />
              <p>{{quality.label}}</p>
            </li>
          {{/each}}
        </ul>
      </div>

      <Fieldset @label='Show icon on product list'>
        <div>
          {{#each this.product.productQualitiesSorted as |productQuality|}}
            <Field::Boolean
              @record={{productQuality}}
              @attribute='showOnProductList'
            >
              <label>{{productQuality.quality.label}}</label>
            </Field::Boolean>
          {{/each}}
        </div>
      </Fieldset>
    {{/if}}

    <h2>Content</h2>

    <Field::String
      @label='The "elevator pitch"'
      @legend='Explain to someone who has never heard of Interflux in 7 to 20 seconds what this product is, which problem it solves, why it is great and who will want to be using it.'
      @record={{product}}
      @attribute='pitch'
      @multiline='true'
      @tools={{array 'bullets'}}
    />

    <Field::String
      @label='Summary'
      @legend="The summary is similar to the elevator pitch, but is not limited to 160 characters and text only. The summary is what one would read AFTER you've sparked their interest with the pitch. Here you get to elaborate more in depth. You can also use markdown, images and videos to make the content come alive."
      @record={{product}}
      @attribute='summary'
      @multiline='true'
      @tools={{array 'bullets'}}
    />

    <Field::String
      @label='Chemical & physical properties'
      @record={{product}}
      @attribute='properties'
      @multiline='true'
      @tools={{array 'bullets'}}
    />

    <Field::String
      @label='How to use {{product.name}}'
      @record={{product}}
      @attribute='instructions'
      @multiline='true'
      @tools={{array 'bullets'}}
    />

    <h2>Images</h2>

    <Fieldset
      @label='Public images'
      @legend='These images are made visible to all our website visitors and search engines bots from Google and social media.'
    >
      <ul class='images'>
        {{#each this.publicImages as |relation|}}
          <li>
            <p>{{relation.rank}}{{if
                (eq relation.image.id product.image.id)
                ' - avatar'
              }}</p>

            {{#let relation.image as |image|}}
              <ResponsiveImage
                @path={{image.path}}
                @variations={{image.variations}}
              />
            {{/let}}

            <div class='buttons'>
              {{#if (not (eq relation.image.id product.image.id))}}
                <Button
                  @text='Make avatar'
                  @theme='secondary'
                  @onClick={{fn this.setAvatar relation}}
                />
              {{/if}}
              {{#if (not (eq relation.rank 1))}}
                <Button
                  @text='Move up'
                  @theme='secondary'
                  @onClick={{fn this.moveImageUp relation}}
                />
              {{/if}}
              {{#if (not (eq relation.rank this.publicImageCount))}}
                <Button
                  @text='Move down'
                  @theme='secondary'
                  @onClick={{fn this.moveImageDown relation}}
                />
              {{/if}}
              <Button
                @text='Hide from website'
                @theme='secondary'
                @onClick={{fn this.hideImage relation}}
              />
              <Button
                @text='Go to image'
                @theme='secondary'
                @route='secure.images.image'
                @model={{relation.image.id}}
              />
            </div>
          </li>
        {{else}}
          <p>- none -</p>
        {{/each}}
      </ul>
    </Fieldset>

    <Fieldset
      @label='Hidden images'
      @legend='These images are hidden from our website visitors and Google. They are meant for internal Interflux use only.'
    >
      <ul class='images'>
        {{#each this.hiddenImages as |relation|}}
          <li>
            {{#let relation.image as |image|}}
              <ResponsiveImage
                @path={{image.path}}
                @variations={{image.variations}}
              />
            {{/let}}

            <div class='buttons'>
              <Button
                @text='Show on website'
                @theme='secondary'
                @onClick={{fn this.showImage relation}}
              />

              <Button
                @text='Go to image'
                @theme='secondary'
                @route='secure.images.image'
                @model={{relation.image.id}}
              />
            </div>
          </li>
        {{else}}
          <p>- none -</p>
        {{/each}}
      </ul>
    </Fieldset>

    <Fieldset
      @label='Avatar'
      @legend='The avatar is the one image which will represent {{product.name}} on all our websites, Google and social media links.'
    >
      <ul class='images'>
        <li class='avatar'>
          {{#let product.image as |image|}}
            <ResponsiveImage
              @path={{image.path}}
              @variations={{image.variations}}
            />
          {{/let}}

          <div class='buttons'>
            <Button
              @text='Go to image'
              @theme='secondary'
              @route='secure.images.image'
              @model={{product.image.id}}
            />
          </div>
        </li>
      </ul>
    </Fieldset>

    <Fieldset
      @label='Alternative avatars'
      @legend='Where helpful, we can show a different avatar per process. This is optional and will most commonly be used to differentiate lead-free from lead-based products.'
    >
      <div>
        {{#each this.product.productUsesSorted as |productUse|}}
          <Field::Boolean
            @record={{productUse}}
            @attribute='showAlternativeAvatar'
          >
            <label>{{productUse.use.label}}</label>
          </Field::Boolean>

          {{#if productUse.showAlternativeAvatar}}
            <ul class='images'>
              {{#if productUse.image}}
                <li>
                  <ResponsiveImage
                    @path={{productUse.image.path}}
                    @variations={{productUse.image.variations}}
                  />

                  <div class='buttons'>
                    <Button
                      @text='Remove'
                      @theme='secondary'
                      @onClick={{fn this.saveAlternativeAvatar productUse null}}
                    />
                  </div>
                </li>
              {{else}}
                {{#each this.publicImages as |productImage|}}
                  {{#let productImage.image as |image|}}
                    <li>
                      <ResponsiveImage
                        @path={{image.path}}
                        @variations={{image.variations}}
                      />

                      <div class='buttons'>
                        <Button
                          @text='Select'
                          @theme='secondary'
                          @onClick={{fn
                            this.saveAlternativeAvatar
                            productUse
                            image
                          }}
                        />
                      </div>
                    </li>
                  {{/let}}
                {{else}}
                  <p>- none -</p>
                {{/each}}
              {{/if}}
            </ul>
          {{/if}}
        {{/each}}
      </div>
    </Fieldset>

    <h2>Compliance</h2>

    <Fieldset @label='Compliant with ...'>
      <div>
        <Field::Boolean @record={{product}} @attribute='compliesWithIEC'>
          <label>IEC EN 61190-1-1(2002)</label>
        </Field::Boolean>

        <Field::Boolean
          @record={{product}}
          @attribute='compliesWithIPCJSTD004A'
        >
          <label>IPC J-STD-004A</label>
        </Field::Boolean>

        <Field::Boolean
          @record={{product}}
          @attribute='compliesWithIPCJSTD004B'
        >
          <label>IPC J-STD-004B</label>
        </Field::Boolean>

        <Field::Boolean @record={{product}} @attribute='compliesWithIPCJSTD005'>
          <label>IPC J-STD-005</label>
        </Field::Boolean>

        <Field::Boolean @record={{product}} @attribute='compliesWithROHS'>
          <label>RoHS</label>
        </Field::Boolean>

        <Field::Boolean @record={{product}} @attribute='compliesWithISO'>
          <label>ISO 9001</label>
        </Field::Boolean>
      </div>
    </Fieldset>

    {{!--
    <Field::String
      @label='Test results'
      @record={{product}}
      @attribute='testResults'
      @multiline='true'
      @disabled='true'
    />
    --}}

    <Fieldset @label='Test results'>
      <table class='results'>
        <thead>
          <tr>
            <th>Property</th>
            <th>Result</th>
            <th>Method</th>
          </tr>
        </thead>

        <tbody>
          {{#each this.testResults as |row i|}}
            <tr>
              {{#each row as |cell ii|}}
                <td>
                  <input
                    value={{cell}}
                    autocapitalize='off'
                    autocomplete='off'
                    autocorrect='off'
                    spellcheck='false'
                    {{on 'change' (fn this.updateCell i ii)}}
                  />
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>

      {{#if this.testResults}}
        <div class='buttons'>
          <Button @text='Add row' @theme='save' @onClick={{this.addRow}} />
          <Button
            @text='Remove row'
            @theme='save'
            @onClick={{this.removeRow}}
          />
        </div>
      {{/if}}

    </Fieldset>

    <h2>Documents</h2>

    <Field::ManyToMany
      @label='Documents'
      @baseRecord={{product}}
      @baseModel='product'
      @baseLabel='productDocuments'
      @joinModel='product-document'
      @joinRankKey='rankAmongDocuments'
      @targetModel='document'
      @targetLabel='name'
      @targetRoute='secure.documents.document'
    />

    <h2>Status</h2>

    <Field::String::Radio
      @record={{product}}
      @attribute='lifeCycle'
      @options={{this.lifeCycleOptions}}
    />

    {{#if (or product.isOutdated product.isDiscontinued)}}
      <h2>Substitute</h2>

      <Field::OneToMany
        @label='Is there a better product?'
        @legend='In case there is a product which does the same thing as {{product.name}}, but better, then please find and select that product below. If {{product.name}} has the status "outdated" or "discontinued" and you have selected a better product below, then we will show a message on the product page of {{product.name}} to encourage visitors to look at the better product instead.'
        @baseRecord={{product}}
        @baseLabel='superiorProduct'
        @targetModel='product'
        @targetFilter='name'
        @minKeyStrokes='1'
      />
    {{/if}}

    <h2>Website</h2>

    {{#if product.isOnline}}
      {{#if (or product._isNew product.isPopular)}}
        <Field::Boolean
          @record={{product}}
          @attribute='onFrontPage'
          @label='Show on front-page?'
          @legend='Products which are "new" or "popular" can be shown on the front-page of our public website.'
        >
          <label>
            {{if product.onFrontPage 'Yes, shown' 'Not shown'}}
          </label>
        </Field::Boolean>

        {{#if product.onFrontPage}}
          <Field::String
            @label='Front-page rank'
            @legend='Enter a number to rank {{product.name}} before or after other products on the front-page. 1 for the top, 9 to the bottom'
            @record={{product}}
            @attribute='frontPageRank'
          />
        {{/if}}
      {{/if}}

      <Fieldset
        @label='Public links'
        @legend='These are all the places on our public website where
        {{product.name}}
        can be seen.'
      />
      <ul class='list'>
        {{#if product.onFrontPage}}
          <li>
            <div class='left'>
              <Link @url='{{env "publicHost"}}/en/' @label='front-page' />
            </div>
          </li>
        {{/if}}
        <li>
          <div class='left'>
            <Link @url='{{product.url}}' @label='product page' />
          </div>
        </li>
        <li>
          <div class='left'>
            <a
              href={{product.family.url}}
              target='_blank'
              rel='noreferrer noopener'
            >
              {{product.family.namePlural}}
              page
            </a>
          </div>
        </li>
        {{#each product.uses as |use|}}
          <li>
            <div class='left'>
              <a href={{use.url}} target='_blank' rel='noreferrer noopener'>
                {{use.text}}
                page
              </a>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>{{product.name}} is hidden from our website.</p>
    {{/if}}

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{product}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/let}}