{{#with @model.product as |product|}}
  <Modal @id="product">
    <h1>{{product.name}}</h1>
    <h2>Product</h2>

    <hr>

    <Fieldset>
      <Label>Name</Label>
      <Input::String
        @contenteditable={{true}}
        @value={{product.name}}
        @onKeyUp={{fn (mut product.name)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Name</Label>
      <Input
        @value={{product.name}}
        @key-down={{fn (mut product.name)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Family</Label>
      <Input
        @value={{product.family.namePlural}}
        @key-down={{fn (mut product.family.namePlural)}}
      />
    </Fieldset>

    <Fieldset>
      <Label>Pitch</Label>
      <Textarea
        @value={{product.pitch}}
        @key-down={{fn (mut product.pitch)}}
        cols="80"
        rows="3"
      />
    </Fieldset>

    <hr>

    <Fieldset>
      <Input::Checkbox
        @value={{product.public}}
        @textLabel="Visible on website"
        @onToggle={{fn (mut product.public)}}
      />
    </Fieldset>

    <Fieldset>
      <Input::Checkbox
        @value={{product.new}}
        @textLabel='Mark as "new" on website'
        @onToggle={{fn (mut product.new)}}
      />
    </Fieldset>

    <Fieldset>
      <Input::Checkbox
        @value={{product.popular}}
        @textLabel='Mark as "popular" on website'
        @onToggle={{fn (mut product.popular)}}
      />
    </Fieldset>

    <Fieldset>
      <Input::Checkbox
        @value={{product.featured}}
        @textLabel='Mark as "featured" on website'
        @saving=true
        @onToggle={{fn (mut product.featured)}}
      />
    </Fieldset>

    <Fieldset>
      <Input::Checkbox
        @value={{product.orderable}}
        @textLabel='Mark as "out of production"'
        @onToggle={{fn (mut product.orderable)}}
      />
    </Fieldset>

    <hr>

    <p>Recommended for:</p>
    {{#each product.processes as |process|}}
      <p>{{process.name}}</p>
    {{/each}}

    <p>Key advantages:</p>
    {{#each product.qualities as |quality|}}
      <p>{{quality.name}}</p>
    {{/each}}

    <hr>

    <p>Images:</p>
    {{#each product.images as |image|}}
      <!-- <Image::Responsive
        @path={{image.path}}
        @sizes={{image.sizes}}
        @formats={{image.formats}}
      /> -->
      <Fieldset>
        <Label>Alt</Label>
        <Input
          @value={{image.alt}}
          @key-down={{fn (mut image.alt)}}
        />
      </Fieldset>
      <Fieldset>
        <Label>Caption</Label>
        <Input
          @value={{image.caption}}
          @key-down={{fn (mut image.caption)}}
        />
      </Fieldset>
      <Fieldset>
        <!-- <Label
          @text="Featured?"
        /> -->
        <Input::Boolean
          @value={{image.public}}
          @textTrue="Public"
          @textFalse="Private"
          @onToggle={{fn (mut image.public)}}
        />
      </Fieldset>
    {{/each}}

    <hr>

    <p>Documents:</p>
    <ul>
      {{#each product.documents as |document|}}
        <li>
          <Button::Url
            @href="{{cdn}}/{{document.path}}"
            @text="{{document.name}} ({{document.language.nameEnglish}})"
            @icon="pdf"
            @size="medium"
            @style="white grey-border"
          />
        </li>
      {{/each}}
    </ul>

    <hr>

    <!-- <p>Can be seen: Yes</p>
  <p>Can be ordered: Yes</p>
  <p>Recommended: No</p>
  <p>New: No</p>
  <p>Replaced by better product? Yes - IF 2005M</p>

  <hr> -->



    <hr>

    <!-- <p>Variants: (TODO)</p>
  <p>variant 1</p>
  <p>variant 2</p>
  <p>variant 3</p> -->
    <!-- {{#each product.features as |feature|}}
    <p>{{feature.id}}</p>
  {{/each}} -->

    <!-- <Buttons::Horizontal>
      <div class="left"></div>
      <div class="right">
        {{#if product.hasDirtyAttributes}}
          <Button::Action
            @action={{fn this.reset product}}
            @text="reset changes"
            @size="medium"
            @style="grey link"
          />
        {{/if}}

        <Button::Action
          @action={{fn this.save product}}
          @text={{if product.hasDirtyAttributes (if product.isSaving 'Saving...' 'save changes') 'no changes'}}
          @disabled={{if product.hasDirtyAttributes false true}}
          @size="medium"
          @style="green"
        />
      </div>
    </Buttons::Horizontal> -->
  </Modal>
{{/with}}
