{{#with @model.product as |product|}}
  <Modal @id="product">
    {{#if product.image}}
      <ResponsiveImage @image={{product.image}} />
    {{/if}}

    <h1>{{product.name}}</h1>

    <h2>Properties</h2>

    <Field::String
      @label='Name'
      @record={{product}}
      @attribute='name'
      @disabled='true'
    />

    <Field::OneToMany
      @label='Family'
      @record={{product}}
      @relation='productFamily'
      @filterOn='namePlural'
    />

    {{!-- TODO: create sub families --}}

    <Field::String
      @label='Sub family'
      @legend='Leave blank, unless you have a more descriptive name for this product than the family name. For example "flux pen" instead of "auxiliary".'
      @record={{product}}
      @attribute='label'
    />

    <Field::String
      @label='Elevator pitch'
      @legend='Explain to someone who has never heard of Interflux in 7 to 20 seconds what this product is, which problem it solves, why it is so great and who will want to be using this {{product.name}}.'
      @record={{product}}
      @attribute='pitch'
      @multiline='true'
    />

    <Field::ManyToMany
      @label="Processes"
      @baseRecord={{product}}
      @baseModel="product"
      @baseLabel="productUses"
      @joinModel="product-use"
      @targetModel="use"
      @targetLabel="text"
      @targetRoute='secure.uses.use'
    />

    <Field::ManyToMany
      @label="Qualities"
      @baseRecord={{product}}
      @baseModel="product"
      @baseLabel="productQualities"
      @joinModel="product-quality"
      @targetModel="quality"
      @targetLabel="text"
      @targetRoute='secure.qualities.quality'
    />

    <h2>Images</h2>

    <Fieldset
      @label='The avatar'
      @legend='If you had to present this product with only one image, which one would you choose? The avatar is the single most representative image of this product and will be shown everywhere on our website, on Google and in social media links.'
    >
      <ul class="images">
        <li class="avatar">
          <ResponsiveImage @image={{product.image}} />

          <div class="buttons">
            <Button
              @text="View details"
              @theme="secondary"
              @route='secure.images.image'
              @model={{product.image.id}}
            />
          </div>
        </li>
      </ul>
    </Fieldset>

    <Fieldset
      @label='Shown on website'
      @legend='These images will be shown on the product page of {{product.name}}. Make sure all available sizes, containers, alloys and shapes of {{product.name}} are shown on our website.'
    >
      <ul class="images">
        {{#each this.publicImages as |relation|}}
          <li>
            <p>{{relation.rank}}{{if (eq relation.image.id product.image.id) ' - avatar'}}</p>

            <ResponsiveImage @image={{relation.image}} />

            <div class="buttons">
              {{#if (not (eq relation.image.id product.image.id))}}
                <Button
                  @text="Make avatar"
                  @theme="secondary"
                  @onClick={{fn this.setAvatar relation}}
                />
              {{/if}}
              {{#if (not (eq relation.rank 1))}}
                <Button
                  @text="Move up"
                  @theme="secondary"
                  @onClick={{fn this.moveImageUp relation}}
                />
              {{/if}}
              {{#if (not (eq relation.rank this.publicImageCount))}}
                <Button
                  @text="Move down"
                  @theme="secondary"
                  @onClick={{fn this.moveImageDown relation}}
                />
              {{/if}}
              <Button
                @text="Hide from website"
                @theme="secondary"
                @onClick={{fn this.hideImage relation}}
              />
              <Button
                @text="View details"
                @theme="secondary"
                @route='secure.images.image'
                @model={{relation.image.id}}
              />
            </div>
          </li>
        {{else}}
          <p>- none -</p>
        {{/each}}
      </ul>
    </Fieldset>

    <Fieldset
      @label='Hidden images'
      @legend='These images are for internal use only and will not be shown on our website.'
    >
      <ul class="images">
        {{#each this.hiddenImages as |relation|}}
          <li>
            <Image
              @path={{relation.image.path}}
              @variations={{relation.image.variations}}
              @caption={{relation.image.caption}}
              @alt={{relation.image.alt}}
            />

            <div class="buttons">
              <Button
                @text="Show on website"
                @theme="secondary"
                @onClick={{fn this.showImage relation}}
              />

              <Button
                @text="View details"
                @theme="secondary"
                @route='secure.images.image'
                @model={{relation.image.id}}
              />
            </div>
          </li>
        {{else}}
          <p>- none -</p>
        {{/each}}
      </ul>
    </Fieldset>

    <h2>Documents</h2>

    <Field::ManyToMany
      @label="Documents"
      @baseRecord={{product}}
      @baseModel="product"
      @baseLabel="productDocuments"
      @joinModel="product-document"
      @targetModel="document"
      @targetLabel="name"
      @targetRoute='secure.documents.document'
    />

    <h2>Website</h2>

    <Field::Boolean
      @label='Show on our website'
      @record={{product}}
      @attribute='public'
    />

    {{#if product.public}}
      <Fieldset
        @label='Public pages'
        @legend='Copy paste these links for sharing.'
      >
        <ul class="list">
          <li>
            <a
              href={{product.url}}
              target="_blank"
              rel="noreferrer noopener"
            >
              Product page
            </a>
          </li>

          <li>
            <a
              href={{product.family.url}}
              target="_blank"
              rel="noreferrer noopener"
            >
              Family page
            </a>
          </li>
        </ul>
      </Fieldset>

      {{!-- <Field::Boolean
      @label='Featured - '
      @record={{product}}
      @attribute='featured'
      /> --}}

      <Field::Boolean
        @label='Mark as popular'
        @record={{product}}
        @attribute='popular'
      />

      <Field::Boolean
        @label='Mark as new'
        @record={{product}}
        @attribute='new'
      />

      {{!-- <Field::Boolean
        @label='Is still in production (can be ordered)'
        @record={{product}}
        @attribute='orderable'
      /> --}}

    {{else}}
      <p>- {{product.name}} is hidden from our website -</p>
    {{/if}}

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{product}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}