{{#with @model.product as |product|}}
  <Modal @id="product">
    <h1>{{product.name}}</h1>

    <h2>Properties</h2>

    <Field::String
      @label='Name'
      @record={{product}}
      @attribute='name'
      @disabled='true'
    />

    <Field::String
      @label='Label'
      @record={{product}}
      @attribute='label'
    />

    <Field::String
      @label='Pitch'
      @record={{product}}
      @attribute='pitch'
      @multiline='true'
    />

    <Field::BelongsToRelation
      @label='Family'
      @record={{product}}
      @relation='family'
      @filterOn='nameSingle'
    />

    <h2>Website</h2>

    <p>Link:</p>
    <p>
      <a href={{product.url}}>{{product.url}}</a>
    </p>

    <h2>State</h2>

    <Field::Boolean
      @label='Public'
      @record={{product}}
      @attribute='public'
    />

    <Field::Boolean
      @label='Orderable'
      @record={{product}}
      @attribute='orderable'
    />

    <Field::Boolean
      @label='Featured'
      @record={{product}}
      @attribute='featured'
    />

    <Field::Boolean
      @label='Popular'
      @record={{product}}
      @attribute='popular'
    />

    <Field::Boolean
      @label='New'
      @record={{product}}
      @attribute='new'
    />

    <h2>Images</h2>

    <Field::BelongsToRelation
      @label='Avatar'
      @record={{product}}
      @relation='avatar'
      @filterOn='path'
    />

    <p>TODO: images</p>
    <p>TODO: processes</p>
    <p>TODO: qualities</p>
    <p>TODO: documents</p>

    <h2>Database</h2>

    <Field::String
      @label='UUID'
      @record={{product}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}