<div class="input checkbox {{@value}} {{if @saving 'saving'}}" {{on 'click' this.toggle}}>
  <div>
    {{#if @saving}}
      <Svg::Ellipsis @fill="#fff" />
    {{else if @value}}
      <Svg::Check @fill="#fff" />
    {{/if}}
  </div>
  <p>{{@textLabel}}</p>
</div>
