<div class="input checkbox {{@value}} {{if @pending 'pending'}}" {{on 'click' this.toggle}}>
  <div>
    {{#if @pending}}
      <Svg::Ellipsis @fill="#fff" />
    {{else if @value}}
      <Svg::Check @fill="#fff" />
    {{/if}}
  </div>
  <p>{{@textLabel}}</p>
</div>
