<div class="search">
  <Input
    {{!-- props --}}
    @id={{@id}}
    @type="search"
    @theme={{@theme}}
    @placeholder={{@placeholder}}
    @autofocus={{@autofocus}}
    @disabled={{@disabled}}
    {{!-- state --}}
    @value={{this.value}}
    @error={{@error}}
    {{!-- events --}}
    @onFocus={{this.onFocus}}
    @onBlur={{this.onBlur}}
    @onKeyDown={{this.onKeyDown}}
    @onKeyUp={{this.onKeyUp}}
    @onMouseOver={{this.onMouseOver}}
    @onMouseOut={{this.onMouseOut}}
  >

  <div class="icon">
    <Svg::Search />
  </div>

  {{#if this.hasFocus}}
    <div class="dropdown">
      {{#if @isSearching}}
        <p class="searching">Searching ...</p>
      {{else}}
        {{#if this.showPleaseType}}
          <p>Type to search</p>
        {{/if}}

        {{#if this.showResults}}
          {{#each this.buttons as |btn i|}}
            {{#if btn.shown}}
              <button
                type="button"
                class={{btn.classes}}
                {{on 'mouseover' (fn this.onMouseOverButton i)}}
                {{on 'mousedown' (fn this.onMouseDown btn.record)}}
              >
                {{btn.label}}
              </button>
            {{/if}}
          {{/each}}
          <p>{{this.recordCount}} results</p>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}

  </Input>
</div>