<div class="search {{this.classes}}">
  <div class="wrapper">
    <input
      id={{@id}}
      type="search"
      value={{this.value}}
      placeholder={{@placeholder}}
      autofocus={{@autofocus}}
      disabled={{@disabled}}
      {{on 'focus' this.onFocus}}
      {{on 'blur' this.onBlur}}
      {{on 'keydown' this.onKeyDown}}
      {{on 'keyup' this.onKeyUp}}
      {{on 'mouseover' this.onMouseOver}}
      {{on 'mouseout' this.onMouseOut}}
      autocapitalize='off'
      autocomplete='off'
      autocorrect='off'
      spellcheck='false'
      {{did-insert this.onInsertInput}}
    />

    <div class="icon">
      <Svg::Search />
    </div>

    {{#if this.hasFocus}}
      <div class="dropdown">
        {{#if @isSearching}}
          <p class="searching">Searching ...</p>
        {{else}}
          {{#if this.showPleaseType}}
            <p>Type to search</p>
          {{/if}}

          {{#if this.showResults}}
            {{#each this.buttons as |btn i|}}
              {{#if btn.shown}}
                <button
                  type="button"
                  class={{btn.classes}}
                  {{on 'mouseover' (fn this.onMouseOverButton i)}}
                  {{on 'mousedown' (fn this.onMouseDown btn.record)}}
                >
                  {{btn.label}}
                </button>
              {{/if}}
            {{/each}}
            <p>{{this.recordCount}} results</p>
          {{/if}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>