{{#with @model.company as |company|}}

  <Modal @id='document'>

    <h1>{{this.title}}</h1>

    <h2>Name</h2>

    <Field::String
      @label='Business name'
      @record={{company}}
      @attribute='businessName'
    />

    <Field::String
      @label='Legal name'
      @record={{company}}
      @attribute='legalName'
    />

    <h2>Address</h2>

    <Field::OneToMany
      @label='Country'
      @record={{company}}
      @relation='country'
      @filterOn='nameEnglish'
    />

    <Field::String
      @label='Address'
      @record={{company}}
      @attribute='address'
      @multiline='true'
    />

    <Field::String
      @label='Longitude'
      @record={{company}}
      @attribute='longitude'
    />

    <Field::String
      @label='Latitude'
      @record={{company}}
      @attribute='latitude'
    />

    <h2>Contact</h2>

    <Field::String
      @label='Phone'
      @record={{company}}
      @attribute='phone'
    />

    <Field::String
      @label='Fax'
      @record={{company}}
      @attribute='fax'
    />

    <Field::String
      @label='Website'
      @record={{company}}
      @attribute='website'
    />

    <Field::String
      @label='Email for general enquiries'
      @type='email'
      @record={{company}}
      @attribute='emailGeneral'
    />

    <Field::String
      @label='Email for technical support'
      @type='email'
      @record={{company}}
      @attribute='emailSupport'
    />

    <Field::String
      @label='Email for placing orders'
      @type='email'
      @record={{company}}
      @attribute='emailOrders'
    />

    <Field::String
      @label='Email for accounting enquiries'
      @type='email'
      @record={{company}}
      @attribute='emailAccounting'
    />

    <h2>Relations</h2>

    <Field::ManyToMany
      @label='Members'
      @record={{company}}
      @relation='members'
      @relationLabel='fullName'
      @route='secure.people.person'
    />

    <Field::ManyToMany
      @label='Markets'
      @record={{company}}
      @relation='markets'
      @relationLabel='nameEnglish'
      @route='secure.companies.company'
    />

    <h2>Visibility</h2>

    <Field::Boolean
      @record={{company}}
      @attribute='public'
    >
      <label>Show {{company.businessName}} on the <a
          href='https://interflux.com/en/contact'
          target='_blank'
          rel='noopener noreferrer'
        >contact page</a> of our website</label>
    </Field::Boolean>

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{company}}
      @attribute='id'
      @disabled={{true}}
    />
  </Modal>

{{/with}}