{{#with @model.company as |company|}}

  <Modal @id='document'>

    <h1>{{company.businessName}}</h1>

    <h2>Contact details</h2>

    <Field::String
      @label='Business name'
      @record={{company}}
      @attribute='businessName'
    />

    <Field::String
      @label='Legal name'
      @record={{company}}
      @attribute='legalName'
    />

    <Field::BelongsToRelation
      @label='Country'
      @record={{company}}
      @relation='country'
      @filterOn='nameEnglish'
    />

    <Field::String
      @label='Address'
      @record={{company}}
      @attribute='address'
      @multiline='true'
    />

    <Field::String
      @label='Phone'
      @record={{company}}
      @attribute='phone'
    />

    <Field::String
      @label='Fax'
      @record={{company}}
      @attribute='fax'
    />

    <Field::String
      @label='Email'
      @type='email'
      @record={{company}}
      @attribute='email'
    />

    <Field::String
      @label='Website'
      @record={{company}}
      @attribute='website'
    />

    <Field::String
      @label='Longitude'
      @record={{company}}
      @attribute='longitude'
    />

    <Field::String
      @label='Latitude'
      @record={{company}}
      @attribute='latitude'
    />

    <h2>Website</h2>

    <!-- <Input::Boolean
      @value={{company.public}}
      @onChange={{fn (mut company.public)}}
    >
      <p>Show on the <a
          href='https://interflux.com/en/contact'
          target='_blank'
          rel='noopener noreferrer'
        >contact page</a> of our website</p>
    </Input::Boolean>

    <Input::Boolean
      @label='Mark as Interflux Headquarters'
      @value={{company.isHQ}}
      @onChange={{fn (mut company.isHQ)}}
    />

    <Input::Boolean
      @label='Mark as Interflux Group member'
      @value={{company.isGroupMember}}
      @onChange={{fn (mut company.isGroupMember)}}
    />

    <Input::Boolean
      @label='Mark as trusted distributor'
      @value={{company.isDistributor}}
      @onChange={{fn (mut company.isDistributor)}}
    />

    <Input::Boolean
      @label='Sort alphabetically'
      @value={{this.sortAlphabetically}}
      @onChange={{fn (mut this.sortAlphabetically)}}
    /> -->

    <p>Interflux Electronics will be sorted to the very top, below all Interflux Group members alphabetically, then all distributors alphabetically. To make an exception, search and select another company to appear right below it.</p>

    <!-- <Input::BelongsTo
      @label='Sort right below company'
      @value={{company.sortBelowCountry}}
      @onChange={{fn (mut company.sortBelowCountry)}}
    /> -->

    <p>When website visitors indicate they are located in Germany we will suggest them to contact our distributors from Germany. When visitors indicate they are from East Asia, we suggest Interflux Singapore.</p>
    <p>Choose below all the countries for which we want to recommend Interflux Bejing:</p>

    <!-- <Input::HasMany
      @label='Recommended to visitors from country'
      @value={{company.markets}}
      @onChange={{fn (mut company.markets)}}
    /> -->

    <h2>People</h2>

    <p>TODO</p>

    <h2>Database</h2>

    <Input
      @label='UUID'
      @value={{company.id}}
      @onChange={{fn (mut company.id)}}
    />
  </Modal>

{{/with}}