{{#let @model.company as |company|}}
  <Modal @id='company'>

    <h1>{{company.businessName}}</h1>

    <h2>Name</h2>

    <Field::String
      @label='Brand name'
      @record={{company}}
      @attribute='businessName'
    />

    <Field::String
      @label='Legal name'
      @record={{company}}
      @attribute='legalName'
    />

    <h2>Address</h2>

    <Field::OneToMany
      @label='Country'
      @baseRecord={{company}}
      @baseLabel='country'
      @targetModel='country'
      @targetFilter='nameEnglish'
      @minKeyStrokes='2'
    />

    <Field::String
      @label='Address'
      @record={{company}}
      @attribute='address'
      @multiline='true'
    />

    <Field::String
      @label='Longitude'
      @record={{company}}
      @attribute='longitude'
    />

    <Field::String
      @label='Latitude'
      @record={{company}}
      @attribute='latitude'
    />

    <h2>Contact</h2>

    <Field::String @label='Phone' @record={{company}} @attribute='phone' />

    <Field::String @label='Fax' @record={{company}} @attribute='fax' />

    <Field::String @label='Website' @record={{company}} @attribute='website' />

    <Field::String
      @label='Email for general enquiries'
      @record={{company}}
      @attribute='emailGeneral'
    />

    <Field::String
      @label='Email for placing orders'
      @record={{company}}
      @attribute='emailOrders'
    />

    <Field::String
      @label='Email for technical support'
      @record={{company}}
      @attribute='emailSupport'
    />

    <Field::String
      @label='Email for accounting questions'
      @record={{company}}
      @attribute='emailAccounting'
    />

    <h2>Relations</h2>

    <Field::ManyToMany
      @label='Members'
      @legend='All people involved with this company.'
      @baseRecord={{company}}
      @baseModel='company'
      @baseLabel='companyMembers'
      @joinModel='company-member'
      @joinRankKey='rankAmongMembers'
      @targetModel='person'
      @targetLabel='fullName'
      @targetFilter='fullName'
      @targetRoute='secure.people.person'
    />

    <Field::ManyToMany
      @label='Markets'
      @legend='The countries in which this company operates and sells.'
      @baseRecord={{company}}
      @baseModel='company'
      @baseLabel='companyMarkets'
      @joinModel='company-market'
      @targetModel='country'
      @targetLabel='nameEnglish'
      @targetRoute='secure.people.person'
    />

    <h2>Visibility</h2>

    <Field::Boolean::Pills
      @label='Available to our websites?'
      @legend='To make this company available to our websites, choose "yes". To hide this company so that only Interflux admins can see them, choose "no".'
      @record={{company}}
      @attribute='public'
      @layout='horizontal'
      @afterSave={{this.afterSavePublic}}
    />

    {{#if company.public}}
      <Field::Boolean::Pills
        @label='Shown on interflux.com?'
        @legend='To make this company visible on our websites, choose "yes". To hide it so that only Interflux admins can see them, choose "no".'
        @record={{company}}
        @attribute='shownOnMainWebsite'
        @layout='horizontal'
      />

      <Field::Boolean::Pills
        @label='Shown on interflux.group?'
        @legend='To make this company visible on our websites, choose "yes". To hide it so that only Interflux admins can see them, choose "no".'
        @record={{company}}
        @attribute='shownOnGroupWebsite'
        @layout='horizontal'
      />

      <Field::Boolean::Pills
        @label='Shown on jetfluxer.com?'
        @legend='Select "yes" if this company is an approved ICSF supplier.'
        @record={{company}}
        @attribute='approvedIcsfSupplier'
        @layout='horizontal'
      />

    {{/if}}

    {{#if company.public}}
      {{#if company.shownOnMainWebsite}}
        <h2>Interflux Electronics website (interflux.com)</h2>

        <Field::String
          @label='Description'
          @legend='Shown on the contact page of Interflux Electronics website.'
          @record={{company}}
          @attribute='description'
          @multiline='true'
        />

        <Field::String
          @label='Rank'
          @legend='Enter an integer to sort companies on the Interflux Electronics website. Those with a rank are sorted above those without. Those without rank are sorted alphabetically.'
          @record={{company}}
          @attribute='order'
        />

        <Field::Boolean
          @record={{company}}
          @attribute='isHeadquarter'
          @legend='On the Interflux Electronics website, some companies receive a map marker with different shape.'
        >
          <label>Show headquarter icon on map</label>
        </Field::Boolean>
      {{/if}}

      {{#if company.shownOnGroupWebsite}}
        <h2>Interflux Group website (interflux.group)</h2>

        <Field::String
          @label='Core activity'
          @legend='Shown on the Interflux Group website.'
          @record={{company}}
          @attribute='coreActivity'
          @multiline='true'
        />

        <Field::String
          @label='History'
          @legend='Shown on the Interflux Group website.'
          @record={{company}}
          @attribute='history'
          @multiline='true'
        />

        <Field::String
          @label='Rank'
          @legend='Enter an integer to sort companies on the Interflux Group website.'
          @record={{company}}
          @attribute='rankOnGroupWebsite'
        />

        <Field::String
          @label='Head count'
          @legend='The total amount of people that work in this company.'
          @record={{company}}
          @attribute='headCount'
        />

        <Field::Boolean
          @record={{company}}
          @attribute='showMarkets'
          @legend='Check this if you want the market countries to be shown on the Interflux Group website.'
        >
          <label>Show markets</label>
        </Field::Boolean>
      {{/if}}
    {{/if}}

    <h2>Notes</h2>

    <Field::String
      @label='Internal notes'
      @legend='Only seen by Interflux.'
      @record={{company}}
      @attribute='notes'
      @multiline='true'
    />

    <h2>Database</h2>

    <Field::String
      @label='UUID'
      @record={{company}}
      @attribute='id'
      @disabled={{true}}
    />

    <Button
      @text='Delete from database'
      @onClick={{this.destroyRecord}}
      @theme='danger-red'
      @icon='warning'
    />

    {{#if this.showDeleteInstructions}}
      <p>To delete this company, please first remove all relations:</p>
      {{#if company.peopleCount}}
        <p>People: {{company.peopleCount}}</p>
      {{/if}}
    {{/if}}
  </Modal>

{{/let}}