{{#with @model.company as |company|}}
  <Modal @id='company'>

    <h1>{{company.businessName}}</h1>

    <h2>Name</h2>

    <Field::String
      @label='Brand name'
      @record={{company}}
      @attribute='businessName'
    />

    <Field::String
      @label='Legal name'
      @record={{company}}
      @attribute='legalName'
    />

    <h2>Notes</h2>

    <Field::String
      @label='Internal notes'
      @legend='Only seen by Interflux.'
      @record={{company}}
      @attribute='notes'
      @multiline='true'
    />

    <h2>Address</h2>

    <Field::OneToMany
      @label='Country'
      @baseRecord={{company}}
      @baseLabel='country'
      @targetModel='country'
      @targetFilter='nameEnglish'
      @minKeyStrokes='2'
    />

    <Field::String
      @label='Address'
      @record={{company}}
      @attribute='address'
      @multiline='true'
    />

    <Field::String
      @label='Longitude'
      @record={{company}}
      @attribute='longitude'
    />

    <Field::String
      @label='Latitude'
      @record={{company}}
      @attribute='latitude'
    />

    <h2>Contact</h2>

    <Field::String @label='Phone' @record={{company}} @attribute='phone' />

    <Field::String @label='Fax' @record={{company}} @attribute='fax' />

    <Field::String @label='Website' @record={{company}} @attribute='website' />

    <Field::String
      @label='Email for general enquiries'
      @record={{company}}
      @attribute='emailGeneral'
    />

    <Field::String
      @label='Email for placing orders'
      @record={{company}}
      @attribute='emailOrders'
    />

    <Field::String
      @label='Email for technical support'
      @record={{company}}
      @attribute='emailSupport'
    />

    <Field::String
      @label='Email for accounting questions'
      @record={{company}}
      @attribute='emailAccounting'
    />

    <h2>Relations</h2>

    <Field::ManyToMany
      @label='Members'
      @legend='All people involved with this company.'
      @baseRecord={{company}}
      @baseModel='company'
      @baseLabel='companyMembers'
      @joinModel='company-member'
      @joinRankKey='rankAmongMembers'
      @targetModel='person'
      @targetLabel='fullName'
      @targetFilter='fullName'
      @targetRoute='secure.people.person'
    />

    <Field::ManyToMany
      @label='Markets'
      @legend='The countries in which this company operates and sells.'
      @baseRecord={{company}}
      @baseModel='company'
      @baseLabel='companyMarkets'
      @joinModel='company-market'
      @targetModel='country'
      @targetLabel='nameEnglish'
      @targetRoute='secure.people.person'
    />

    <h2>Website</h2>

    <p>To make companies visible on the
      <a
        href='https://app.interflux.com/en/contact'
        target='_blank'
        rel='noopener noreferrer'
      >contact page</a>
      of our website, use the checkbox below.</p>

    <Field::Boolean @record={{company}} @attribute='public'>
      <label>Show on website</label>
    </Field::Boolean>

    {{#if company.public}}
      <Field::String
        @label='Rank'
        @legend='Companies are sorted alphabetically on our website, except for those with a rank. Those with a rank move to the top of the list. Enter a number to sort the ranked companies. Leave blank for alphabetical sort.'
        @record={{company}}
        @attribute='order'
      />

      <Field::String
        @label='Description'
        @legend='Optional extra bit of text shown on the contact page of our website.'
        @record={{company}}
        @attribute='description'
        @multiline='true'
      />
    {{/if}}

    <h2>Database</h2>

    <Field::String
      @label='UUID'
      @record={{company}}
      @attribute='id'
      @disabled={{true}}
    />

    <Button
      @text='Delete from database'
      @onClick={{this.destroyRecord}}
      @theme='danger-red'
      @icon='warning'
    />

    {{#if this.showDeleteInstructions}}
      <p>To delete this company, please first remove all relations:</p>
      {{#if company.peopleCount}}
        <p>People: {{company.peopleCount}}</p>
      {{/if}}
    {{/if}}
  </Modal>

{{/with}}