<Modal @id="language">
  <h1>{{@model.language.nameEnglish}}</h1>
  <h2>Language</h2>

  <hr>

  <p>English name: {{@model.language.nameEnglish}}</p>
  <p>Native name: {{@model.language.nameNative}}</p>
  <p>ISO 639-1 code: {{@model.language.twoLetterCode}}</p>
  <p>ISO 639-2 code: {{@model.language.threeLetterCode}}</p>

  <hr>

  <p>Database UUID: {{@model.language.id}}</p>
</Modal>