<Modal @id='image-create'>
  <h1>Upload image</h1>

  <Fieldset @label='What is the subject of the photo?'>
    <Pills::SelectOne
      @options={{this.subjects}}
      @optionLabel='label'
      @layout='vertical'
      @onSelect={{this.onSelectSubject}}
      @selected={{this.subject}}
    />
  </Fieldset>

  {{#if (eq this.subject.id 'other')}}
    <p>Sorry, at present you can only upload images of products and people. Do
      ask Jan to extend support for other use cases.</p>
  {{/if}}

  {{#if (eq this.subject.id 'product')}}
    {{#if this.loadingProducts}}
      <p>Loading...</p>
    {{else}}
      <Fieldset @label='Which product?'>
        <Pills::SelectOne
          @options={{this.products}}
          @optionLabel='name'
          @layout='vertical'
          @onSelect={{this.onSelectProduct}}
          @selected={{this.product}}
        />
      </Fieldset>

      {{#if this.product}}

        {{#if this.loadingProductImages}}
          <p>Loading...</p>
        {{else}}
          {{#let this.product.productImages as |images|}}
            {{#if images}}
              <Fieldset @label='Current images'>
                <ul class='images'>
                  {{#each images as |relation|}}
                    <li>
                      {{#let relation.image as |image|}}
                        <ResponsiveImage
                          @path={{image.path}}
                          @variations={{image.variations}}
                        />
                      {{/let}}
                    </li>
                  {{/each}}
                </ul>
              </Fieldset>
            {{/if}}

            <p>Image uploader under construction...</p>

            {{!-- <input
              type='file'
              accept='png,.jpg'
              class='button medium grey'
              {{on 'change' this.onImageSelect}}
            /> --}}

            {{!-- <Button
              @text='Select image'
              @theme='medium grey'
              @onClick={{this.onClickSelectImage}}
            /> --}}

            {{!-- {{#if this.errorMessage}}
              <p>{{this.errorMessage}}</p>
            {{/if}} --}}

            {{!-- <Field::BelongsTo::File
              @label='New image'
              @record={{@model.image}}
              @recordModel='image'
              @cdnBasePath={{this.image.id}}
              @accept='.png, .jpg'
            /> --}}

            {{! <p>For the best result, upload a PNG of 2400x2400 pixels.</p>
            <p>Allowed formats: PNGs or JPGs.</p> }}

            {{!-- 
            {{#if @model.image.cdnFile}}
              <Fieldset @label='New image'>
                <div class='image'>
                  <img src={{@model.image.cdnFile.urlProd}} />
                </div>
              </Fieldset>

              <p>Please give a meaningful, descriptive and unique name to the
                image. For SEO, please always include the product name and
                family.</p>

              <Field::String
                @label='Image name'
                @record={{@model.image}}
                @attribute='alt'
                @localSave={{true}}
              />

              <Button
                @text='Save'
                @theme='big-green'
                @disabled={{this.preventSave}}
                @isBusy={{this.isSaving}}
                @onClick={{this.onSave}}
              />
            {{/if}} 
            --}}
          {{/let}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</Modal>