{{#with @model.use as |use|}}
  <Modal @id="use">
    <h1>{{use.text}}</h1>
    <h2>Properties</h2>

    <Field::String
      @label='Process name'
      @record={{use}}
      @attribute='text'
    />

    <Field::String
      @label='Explanation'
      @legend="Explain in depth what {{use.text}} means, who it is used by and why it matters. Aim for the first paragraphs to make sense to a layman (no jargon). In the paragraphs after, feel free to get technical."
      @record={{use}}
      @attribute='gist'
      @multiline='true'
    />

    <Field::String
      @label='Rank'
      @legend="Enter an integer. Wherever we list processes on our website, we'll sort them small numbers to the top and big numbers to the bottom. Those without integer will be sorted alphabetically below those with an integer."
      @record={{use}}
      @attribute='rank'
    />

    <h2>Relations</h2>

    <Field::ManyToMany
      @label="Products"
      @legend="All products which can are suitable for this process."
      @baseRecord={{use}}
      @baseModel="use"
      @baseLabel="productUses"
      @joinModel="product-use"
      @joinRankKey="rankAmongProducts"
      @targetModel="product"
      @targetLabel="name"
      @targetRoute='secure.products.product'
    />

    <Fieldset
      @label="Families"
      @legend="All families from the products above."
    >
      <ul class="list">
        {{#each use.families as |family|}}
          {{#if family.id}}
            <li>
              <a href={{href-to 'secure.families.family' family.id}}>
                {{family.namePlural}}
              </a>
            </li>
          {{/if}}
        {{else}}
          <li class="dashed">
            <span>- none -</span>
          </li>
        {{/each}}
      </ul>
    </Fieldset>

    <h2>Images</h2>

    <Field::OneToMany
      @label='Icon'
      @baseRecord={{use}}
      @baseLabel='image'
      @targetModel="image"
      @targetFilter="alt"
      @targetPermanentFilters={{array
        (hash key='path' value='~^images/icons')
      }}
      @minKeyStrokes='2'
    />

    <div class="icon">
      {{#if use.image}}
        {{#with use.image as |image|}}
          <a href={{href-to 'secure.images.image' use.image.id}}>
            <ResponsiveImage
              @path={{image.path}}
              @variations={{image.variations}}
              @caption={{image.caption}}
              @alt={{image.alt}}
            />
          </a>
          <a href={{href-to 'secure.images.image' use.image.id}}>
            <ResponsiveImage
              @path={{image.path}}
              @variations={{image.variations}}
              @caption={{image.caption}}
              @alt={{image.alt}}
            />
          </a>
        {{/with}}
      {{else}}
        <p>- no icon -</p>
      {{/if}}
    </div>

    <Field::ManyToMany
      @label="The 4 avatars"
      @legend="On the product overview page we show 4 images to represent this process."
      @baseRecord={{use}}
      @baseModel="use"
      @baseLabel="useImages"
      @joinModel="use-image"
      @joinRankKey="rankAmongImages"
      @targetModel="image"
      @targetLabel="alt"
      @targetRoute='secure.images.image'
      @disabled={{this.maxAvatarCountReached}}
    />

    <Fieldset>
      <ul class="images">
        {{#each use.images as |useImage|}}
          <li>
            <p>{{useImage.image.alt}}</p>
            {{#with useImage.image as |image|}}
              <ResponsiveImage
                @path={{image.path}}
                @variations={{image.variations}}
                @caption={{image.caption}}
                @alt={{image.alt}}
              />
            {{/with}}
          </li>
        {{/each}}
      </ul>
    </Fieldset>

    <h2>Database</h2>

    <Field::String
      @label='Database ID'
      @record={{use}}
      @attribute='id'
      @disabled='true'
    />
  </Modal>
{{/with}}