<div class="filter-list">
  <header>
    <Input
      @type="search"
      @placeholder="Search"
      @onKeyUp={{this.onKeyUp}}
      @size="medium"
    />
  </header>

  <p><strong>{{this.count}}</strong> results out of {{max}}</p>

  <ul>
    {{#if @options}}
      {{#each options as |option index|}}
        <li>
          <Button::Route
            @route={{@linkRoute}}
            @model={{get option @linkModel}}
            @text={{get option @label}}
            @size="medium"
            @style="blue-3"
          />
        </li>
      {{else}}
        <li>
          <p>No results for "{{query}}"</p>
        </li>
      {{/each}}
    {{else}}
      <li>
        <p>None found in database</p>
      </li>
    {{/if}}
  </ul>
</div>