<div class="filter-list">
  <header>
    <Input::String
      @type="search"
      @onChange={{fn (mut this.query)}}
      @size="medium"
    />
  </header>

  <p><strong>{{this.count}}</strong> results out of {{max}}</p>

  <ul>
    {{#each this.options as |option index|}}
      <li>
        <Button::Route
          @route={{@linkRoute}}
          @model={{get option @linkModel}}
          @text={{get option @label}}
          @size="small"
          @style="blue-3"
        />
      </li>
    {{/each}}
  </ul>
</div>