<Modal @id='lead'>
  <h1>{{@model.lead.company}}</h1>
  <h2>Lead</h2>

  <hr />

  <p>Purpose: {{@model.lead.purpose}}</p>
  <p>Message: {{@model.lead.message}}</p>

  <hr />

  <p>Name: {{@model.lead.name}}</p>
  <p>Company: {{@model.lead.company}}</p>
  <p>Country: {{@model.lead.country.nameEnglish}}</p>
  <p>Email: {{@model.lead.email}}</p>
  <p>Mobile: {{@model.lead.mobile}}</p>

  <hr />

  <p>URL: {{@model.lead.source}}</p>
  <p>IP: {{@model.lead.ip}}</p>
  <p>Region:
    {{@model.lead.ipCity}},
    {{@model.lead.ipRegion}},
    {{@model.lead.ipCountry.nameEnglish}}</p>

  <hr />

  <p>Database UUID: {{@model.lead.id}}</p>
</Modal>