<Field
  @label={{@label}}
  @legend={{@legend}}
  @focus={{this.hasFocus}}
>
  <input
    type="text"
    value={{@value}}
    onfocus={{this.handleFocus}}
  >
  {{#if this.hasFocus}}
    <p>{{@hint}}</p>
  {{/if}}
</Field>