<div class="input belongs-to">
  <Input::String
    @value={{get @value @key}}
    @key-up={{fn this.filter}}
  />

  <ul
    class="dropdown"
    {{did-insert this.onInsert}}
  >
    {{#each @options as |option|}}
      <li
        {{on 'click' (fn this.select option)}}
        role="button"
      >
        {{get option @key}}
      </li>
    {{/each}}
  </ul>
</div>