<fieldset
  id='field-{{@id}}'
  class={{this.classes}}
  {{did-insert this.onInsert}}
>
  <div class='liner'>
    {{#if @label}}
      <div class='field-header'>
        <div class='label-buttons'>
          <label for='input-{{@id}}'>{{@label}}</label>

          <div class='right'>
            {{#if @error}}
              <button
                onclick={{this.onClickError}}
                type='button'
                class='error {{if this.showError "active"}}'
              >
                <Svg::Warning />
              </button>
            {{/if}}

            {{#if @lock}}
              <button
                onclick={{this.onClickLock}}
                type='button'
                class='lock {{if this.showLock "active"}}'
              >
                <Svg::Lock />
              </button>
            {{/if}}

            {{#if @legend}}
              <button
                onclick={{this.onClickTooltip}}
                type='button'
                class='tooltip {{if this.showTooltip "active"}}'
              >
                <Svg::Tooltip />
              </button>
            {{/if}}
          </div>
        </div>

        {{#if this.showTooltip}}
          <Tag @text={{@legend}} @theme='light-blue regular' />
        {{/if}}

        {{#if this.showLock}}
          <Tag @text={{@lock}} @theme='light-blue regular' />
        {{/if}}

        {{#if this.showError}}
          <Tag @text={{@error}} @theme='orange regular' />
        {{/if}}
      </div>
    {{/if}}

    {{yield}}
  </div>
</fieldset>