<fieldset
  id="field-{{@id}}"
  class={{this.classes}}
>
  <div class="liner">
    {{#if @label}}
      <label for="input-{{@id}}">{{@label}}</label>
    {{/if}}
    {{yield}}
    {{#if @legend}}
      <legend>{{@legend}}</legend>
    {{/if}}
  </div>
</fieldset>