<fieldset
  id="field-{{@id}}"
  class={{this.classes}}
>
  <div class="liner">
    {{#if @label}}
      <div class="label-legend">
        <label for="input-{{@id}}">{{@label}}</label>
        {{#if @legend}}
          <legend>{{@legend}}</legend>
        {{/if}}
      </div>
    {{/if}}

    {{yield}}
  </div>
</fieldset>