<fieldset
  id="field-{{@id}}"
  class={{this.classes}}
>
  <div class="liner">
    {{#if @label}}
      <label for="input-{{@id}}">{{@label}}</label>
    {{/if}}
    {{#if @legend}}
      <p>{{@legend}}</p>
    {{/if}}
    {{yield}}
  </div>
</fieldset>