<div
  class="checkbox {{@value}} {{if @saving 'saving'}}"
  {{on 'click' this.toggle}}
  role="button"
>
  <div>
    {{#if @saving}}
      <Svg::Ellipsis />
    {{else if @value}}
      <Svg::Check />
    {{/if}}
  </div>
  <p>{{@textLabel}}</p>
</div>