<div
  role='checkbox'
  aria-checked='{{@checked}}'
  aria-labelledby='input-{{@id}}'
  tabindex='0'
  disabled={{@disabled}}
  {{on 'click' this.onClick}}
  {{on 'keydown' this.onKeyDown}}
>
  {{#if @disabled}}
    <Svg::Lock />
  {{else if @checked}}
    <Svg::Check />
  {{else}}
    <Svg::Times />
  {{/if}}
</div>