<Fieldset
  @id={{this.id}}
  @label={{@label}}
  @legend={{@legend}}
  @component="one-to-many"
  @theme={{@theme}}
  @state={{this.state}}
  @hasFocus={{this.hasFocus}}
  @onInsert={{this.onInsert}}
>
  {{#if this.showSearch}}
    <Search
      @id={{this.id}}
      @theme={{@theme}}
      @placeholder="Search"
      @disabled={{@disabled}}
      @value={{this.value}}
      @state={{this.state}}
      @onFocus={{this.onFocus}}
      @onBlur={{this.onBlur}}
      @onKeyUp={{this.onKeyUp}}
      @onSelect={{this.onSelect}}
      @searchModel={{@targetModel}}
      @searchLabel={{@targetLabel}}
      @searchFilter={{@targetFilter}}
      @minKeyStrokes={{@minKeyStrokes}}
      @error={{this.error}}
    />
  {{else}}
    {{#if this.chosenRecord}}
      <ul class="list">
        <li class={{if this.chosenRecord 'solid' 'dashed'}}>
          {{#if this.chosenRecord}}
            {{#if @targetRoute}}
              <a href={{href-to @targetRoute this.chosenRecord.id}}>
                {{this.chosenLabel}}
              </a>
            {{else}}
              <span>{{this.chosenLabel}}</span>
            {{/if}}
          {{else}}
            <span>- none -</span>
          {{/if}}

          <div class="right">
            {{#if this.error}}
              <div class="icon error">
                <Svg::Error />
              </div>
            {{/if}}

            {{#if @disabled}}
              <div class="icon lock">
                <Svg::Lock />
              </div>
            {{else}}
              <DotDotDotMenu>
                <Button
                  @icon="edit"
                  @text="edit"
                  @onMouseDown={{this.onEdit}}
                />
                {{#if this.chosenRecord}}
                  <Button
                    @icon="trash"
                    @text="remove"
                    @onMouseDown={{fn this.onSelect null}}
                  />
                {{/if}}
              </DotDotDotMenu>
            {{/if}}
          </div>
        </li>
      </ul>
    {{else}}
      <ul class="list">
        <li class="dashed">
          <span>- none -</span>
          <div class="right">
            <Button
              @theme="save select"
              @text="select"
              @onClick={{this.onEdit}}
            />
          </div>
        </li>
      </ul>
    {{/if}}
  {{/if}}

  {{#if this.error}}
    <p class="message error">Sorry, something didn't quite go as planned. Nobody should ever see this message, so please <a
        href="mailto:j.werkhoven@interflux.com"
        target="_blank"
        rel="noreferrer noopener"
      >tell Jan</a> that you encounter <strong>error {{this.error}}</strong>.
    </p>
  {{/if}}
</Fieldset>